[2017-09-22 21:37] omki2005 opened #504 "Categorical tag columns throw an exception with fillna"
In _dataframe_client.py at line no 292,

`tag_df = tag_df.fillna('')  # replace NA with empty string`

throws an exception if any one of the columns is a categorical since '' may not be in the list of categoricals.

[2017-09-23 19:17] MHLG opened #506 "Filtering by tags results in empty list"
I'm observing an unexpected issue while reading data from InfluxDB

[code]
series variable is an empty list and it should not; the same query using CLI returns the following points where [account location  source] are "Tags" and value is "Field"
[code]

I can make it work by using GROUP BY clause
[code]
But at this point I can only use the tag you have used in GROUP BY tags={'source': <value>}
and

[2017-09-26 16:43] eric-guanwy commented on #497
I don't know whether you have got it resolved by now, and I just encountered the same keyerror issue today, for my situation it fixed by specifying the  attribute "columns" explicitly with a string type '0' when create a DataFrame.  As the code below:
  `  df = pd.DataFrame(data=list(range(30)),index=pd.date_range(start='2014-11-16',periods=30, freq='H'),columns=['0'])
`

[2017-09-28 08:56] patrickhoebeke commented on #422
see my proposed fix in pull request https://github.com/influxdata/influxdb-python/pull/507

[2017-09-28 08:57] patrickhoebeke commented on #479
I've just made a cleaner pull request here : https://github.com/influxdata/influxdb-python/pull/507

[2017-09-29 02:12] #472 closed

[2017-09-29 02:15] #437 closed

[2017-09-29 02:25] xginn8 commented on #481
If you are writing points at the same time to the same measurement, only the last point will persist. Otherwise, you can pass a timestamp to differentiate.

[2017-09-29 02:25] #481 closed

[2017-09-29 10:27] brianbirir opened #509 "Missing get_list_measurements() function"
From the [API documentation](http://influxdb-python.readthedocs.io/en/latest/api-documentation.html), `get_list_measurements()` has been listed as a method available for `InfluxDBClient` object.

However, after installing `v4.1.1` and trying to use the method, I get this error:

I checked the `clients.py` file under `/usr/local/lib/python2.7/dist-packages/influxdb` and can confirm that the method

[2017-09-30 01:20] xginn8 commented on #509
This function was added recently and is not available in the latest packaged release, only on the build from HEAD. See https://github.com/influxdata/influxdb-python/pull/402). The documentation you are looking at is from HEAD, not the latest stable release. Here are the API docs for the 4.1.1 release http://influxdb-python.readthedocs.io/en/stable/api-documentation.html. It will be available in th

[2017-09-30 01:20] #509 closed

[2017-09-30 01:28] #450 closed

[2017-09-30 01:29] #462 closed

[2017-09-30 01:29] #423 closed

[2017-09-30 01:41] xginn8 commented on #469
This library is sychronous at the moment, but there are plans to add async support (see potential workaround and background here: https://github.com/influxdata/influxdb-python/issues/452)

[2017-09-30 01:41] #469 closed

[2017-09-30 01:51] xginn8 commented on #426
Is this issue still occurring? I cannot reproduce this locally against HEAD, all the times appear as expected.

[2017-09-30 01:52] #377 closed

[2017-09-30 01:53] #372 closed

[2017-09-30 02:03] laimaretto opened #510 "Understanding how to write pandas DF with tags, to influxDB"
Hi. I have a [3526 rows x 5 columns] DF. This is a snippet of it.

[code]
So column 0 is the index(time), columns 1, 2 and 3 should be tags, and column 4 is my value.

I've inserted previously points into influxdb by using a dictionary, such as ...

[code]

How can I accomplish the same but, instead of using the `write_points(bodyDB)`, issuing the same with the DF? I don't understand how to tell t

[2017-09-30 02:27] xginn8 commented on #510
You'll want to use the DataFrameClient for such a write. Parameters are listed here: https://github.com/influxdata/influxdb-python/blob/master/influxdb/_dataframe_client.py#L44, and an example can be found here: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py. Let me know if that helps!

[2017-09-30 08:53] brianbirir commented on #509
Ok. Thank you @xginn8

[2017-09-30 17:10] laimaretto commented on #510
Hi! Thanks for the tips! So, I tried your suggestions (mainly following your example) and I got closer, though I could not yet accomplish my task ... This is what I did:

[code]

`timeValues` is `[3526 rows x 2 columns]` and `tags` has 3 columns each one of size `[3526 rows x 1 columns]`, which is equivalent to my original DF: `[3526 rows x 5 columns]`. So far, so good ...

In order to write the p

[2017-10-01 15:04] laimaretto commented on #286
Hi! I've tried the suggestion here but I'm having trouble with the index. This is my data.
[code]

If I try to insert the complete DF at once using the `DataFrameClient`, I would do:
[code]
This does not work. I get the following error:
[code]
However, if I for-loop over **the same data**, and insert the same information into influx, row by row, I can accomplish that using `InfluxDBClient` without

[2017-10-01 15:27] gte620v commented on #286
The `tags` argument expects a list of tag column names, not a dict of the tags.

[2017-10-01 15:42] laimaretto commented on #286
Hi. I've read here[1] and here[2] that the `tags` argument is indeed a dictionary of tags.

Nevertheless, I tried your suggestion: I replaced the dict of tags with a list of tag column names. It does not work either ...

[code]
Here's the error ...
[code]
As per the error, it seems to me that the DFClient can't find the proper index of the data frame to be inserted into influx ...

thanks!

[1] -

[2017-10-01 16:00] gte620v commented on #286
Sorry, I didn't look at the error closely before.  Your problem is that the index is not a datetime index.

You need to do some combination of `pd.to_datetime` and `df.set_index` to get your dataframe to have a datetimeindex.  You seem to have a column of string called `index`, which is not the same thing.  You need convert these strings to datetime objects with `pd.to_datetime` and then pass that

[2017-10-01 17:12] laimaretto commented on #286
You're right! Thanks for the tip. I had to both convert to datetime and also set the index.

[code]
Now it's inserting all the data nicely ...
[code]
Thanks!

[2017-10-01 21:00] xginn8 commented on #510
Did https://github.com/influxdata/influxdb-python/issues/286#issuecomment-333391449 solve your problem? A missing index?

[2017-10-02 02:55] laimaretto commented on #510
Hi @xginn8 ... yes, it did solve my problem!

I just had to upgrade the python-inxludb to the latest version with pip3 (sudo pip3 install influxdb) and it's now working like a charm:

[code]

With this approach (inserting DF into influx), I am now able to insert a 100K rows-dataframe in 75seconds (before, looping over it and inserting row-by-row would take above 25min).

This great! Thanks!

Lucas

[2017-10-02 03:32] xginn8 commented on #510
awesome, glad it helped.

[2017-10-02 03:32] #510 closed

[2017-10-03 00:54] xginn8 commented on #406
closing this ticket to track in #452

[2017-10-03 00:54] #406 closed

[2017-10-03 00:55] xginn8 commented on #506
closing as a dupe of #251 and #441

[2017-10-03 00:55] #506 closed

[2017-10-03 00:56] xginn8 commented on #441
closing as a dupe of #251

[2017-10-03 00:56] #441 closed

[2017-10-03 01:11] xginn8 commented on #463
Is this still happening? Support for chunked queries was added in the 4.1.0 release, what version of influxdb-python are you using?

[2017-10-03 01:13] #470 closed

[2017-10-03 20:29] chorus12 opened #512 "tag_columns and field_columns does not seem to work in DataFrameClient.write_points python API"
Good day to all,
I'm using an infulxdb python api to write data from a Pandas to influx.
Readthe docs does not say much on the parameters **tag_columns** and **field_columns** in  DataFrameClient.write_points and I suppose here you specify your TAGS and FIELD columns in a dataframe.
I have a very straight forward dataframe:

the_timestamp(index) |   lot | tag | value | quality
2014-08-10 02:56:10

[2017-10-06 14:42] bafitor commented on #240
Any updates regarding this issue?

[2017-10-13 18:44] rajil opened #514 "Resultset to a pandas dataframe"
The pandas [tutorial](https://influxdb-python.readthedocs.io/en/latest/examples.html#tutorials-pandas) uses a dataframe to write into the influx database. It unfortunately doesnt go into details of reading the Resultset into a dataframe.

What is the best way of creating a dataframe from the Resultset after a query call?

[2017-10-13 20:39] roman1627 opened #515 "Question - write_points() exception"
I am trying to write a json (seen below) into influxDB by using influxdb-python using the below code-

[code]

JSON -
[code]

But i keep getting the below error -

`AttributeError: 'str' object has no attribute 'get'`

Can someone please point me in the right direction.

[2017-10-14 15:47] xginn8 commented on #515
You can write Python structures directly to influx -- no need to first serialize to json. Additionally, `fields` needs to be a dictionary, not a list. See the documentation for `write_points` for more information: https://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.InfluxDBClient.write_points

Also the example might be helpful, see here: https://github.com/influxdata/i

[2017-10-14 15:47] #515 closed

[2017-10-14 15:56] xginn8 commented on #514
You can read query results directly into a pandas dataframe using the DataFrameClient, see https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py.

[code]

[2017-10-14 15:56] #514 closed

[2017-10-15 16:15] gopisera opened #516 "Writes failed with error"
I'm trying to insert bunch of records (json  format) using  write_points but fails with the below error.

Traceback (most recent call last):
  File "influxload.py", line 56, in <module>
    client.write_points(json_body)
  File "/usr/lib/python2.7/site-packages/influxdb-4.1.1-py2.7.egg/influxdb/client.py", line 456, in write_points
    tags=tags, protocol=protocol)
  File "/usr/lib/python2.7/site-

[2017-10-17 17:08] spott commented on #302
This should be doable by creating a default value of None in the internal representation, and then, in `_json_body_` checking for that default representation and not passing the field if it contains it.

Or am I missing some subtlety here...

[2017-10-17 17:57] spott opened #517 "Trouble getting tests to run"
When I try to run tox, I'm getting a number of similar errors to this:

[code]

Any ideas how to fix them?  What more information is necessary to diagnose this problem?

[2017-10-20 19:58] chiamarc opened #519 "Incorrect documentation"
Hey folks,

Unless I'm doing something wrong, the 4.1.1 client does not have some of the methods documented on https://influxdb-python.readthedocs.io/en/latest/api-documentation.html.  For example, the InfluxDBClient object has no get_list_measurements() method.  I assume one now has to just do a query to get all/selected measurements but it would be nice if the docs were updated.

Thanks,
Marc

[2017-10-20 20:54] xginn8 commented on #519
Those docs are the `latest` version, i.e. the latest commit to HEAD. I
think you want to toggle to `stable` to get the documentation for the
latest released version (
http://influxdb-python.readthedocs.io/en/stable/api-documentation.html)

On Oct 20, 2017 21:58, "Marc Chiarini" <notifications@github.com> wrote:

[2017-10-21 12:16] chorus12 commented on #512
seems to work now.

[2017-10-21 12:16] #512 closed

[2017-10-22 02:52] kiranmantri commented on #497
In fact, you can assign any string-based name to your columns.
If `columns=['something'] is suppressed, pandas assigns numerical id them.

*work: *
 `df = pd.DataFrame(data=list(range(30)),index=pd.date_range(start='2014-11-16',periods=30, freq='H'),columns=['0'])`

*doesn't work:*
`df = pd.DataFrame(data=list(range(30)),index=pd.date_range(start='2014-11-16',periods=30, freq='H'),columns=[0])`

*

[2017-10-23 19:58] mkarlesky opened #520 "Measurement names are not escaped in _dataframe_client.py; spaces in names improperly handled"
We hacked a patch by calling `_escape_tag(measurement)` at the end of `_convert_dataframe_to_lines()`.

[2017-10-23 19:58] mkarlesky opened #521 "dframe conversion to string in _dataframe_client.py does not support unicode"
We discovered this while trying to process a field of string type that included the degree character, °.

We hacked a patch by replacing any call `dframe.astype(str)` with `dframe.astype(unicode)` within `_stringify_dataframe()`.

[2017-10-23 20:21] kentor opened #522 "does the requests dependency really need to be >= 2.17.0"
I am using the azure-sdk-for-python (< 2.0) and it seems to only work with requests < 2.11.0, so that conflicts with using this library which has a requirement for requests to be >= 2.17.0, see:

https://github.com/influxdata/influxdb-python/commit/a2ac2e8118c9220419eaf483685eeda491335612#diff-b4ef698db8ca845e5845c4618278f29a

Will this library still work with requests < 2.11.0?

[2017-10-25 12:32] #519 closed

[2017-10-25 19:10] anthonyserious opened #524 "Properly use chunk_size param"
PR available at https://github.com/influxdata/influxdb-python/pull/523.

Querying ~40k points goes from CPU-pegged 71s to ~2s.

Before:
[code]

After:
[code]

[2017-10-25 20:27] anthonyserious commented on #524
Forgot to mention, above is with passing `chunk_size=10000` vs. the default `512` in requests.

[2017-10-25 22:07] bjerre opened #525 "missing parameter documentation for DataFrameClient.write_points"
In [API docs for DataFrameClient.write_points](http://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.DataFrameClient.write_points), the parameters and parameter descriptions appear to be copied from the [API docs for InfluxDBClient.write_points](http://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.InfluxDBClient.write_points).

The following par

[2017-10-26 12:58] OddBloke opened #526 "Enable serialisation of SeriesHelper data points"
We're introducing InfluxDB reporting in to a batch job pipeline we have. However, we don't want to introduce a runtime dependency on our InfluxDB server (as it's only intended for rough metric tracking, so doesn't have an SLA from the team that run it).

It would be good if there were a supported way of serialising all the data point that a SeriesHelper class has been given in the public API; we c

[2017-10-26 13:00] OddBloke commented on #526
Currently, I think we can do this by calling the `._json_body_()` method, and writing the result out to disk. Really, I think all I'm asking is that this is moved in to the public API, so I can worry a bit less about it disappearing in future.

[2017-10-26 13:26] OddBloke commented on #526
Digging in to this a bit further, the dict returned by `_json_body` isn't actually JSON-serialisable because it contains a `datetime` object.

So maybe something like a new `.to_json()` or `.points_as_json()` method which returns a JSON string with the `datetime` converted to something that will round-trip would make more sense?

There's also the question of resetting the series; I wouldn't expect

[2017-10-26 14:53] theodiefenthal opened #527 "Cannot work with nanosecond precision"
Influx is designed to work with nanosecond precision. Therefore, the timestamp is stored as a 64 bit unsigned Integer internally (And system max time is kind of Long.MAX in terms of Java speak).

Python, as we know, has no nanosecond support for it's `datetime` objects.
Numpy's datetime64, on the other side, works nicely with nanosecond precision date objects.

If I now create a dataframe like thi

[2017-10-27 09:33] gwuillou opened #528 "dataframe.ix is deprecated for pandas >=0.20.0"
dataframe.ix[start_index:end_index].copy()

http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

using influxdb (4.1.1)

[2017-10-28 18:35] xginn8 commented on #517
Do you have an influxdb already running on that host? `run: open server: listen: listen tcp 127.0.0.1:8088: bind: address already in use` leads me to believe there is. Also, Influxdb 1.3.6 isn't yet supported, so you'll want to make sure you're running version 1.2.4 to run the test suite.

[2017-10-28 18:48] xginn8 commented on #528
Thanks for reporting this! Fix pushed for PR in #530

[2017-10-28 20:27] #528 closed

[2017-10-29 16:32] rmah opened #531 "Out of memory error when querying large data set with chunked=True"
Making large queries for very large result sets results in out of memory errors.  This can be traced back to the function _read_chunked_response in client.py which reads the entire response into RAM before returning a ResultSet.

[2017-10-30 12:10] #378 closed

[2017-10-30 12:10] #416 closed

[2017-10-30 12:30] xginn8 commented on #516
Is the variable `json_body` formatted properly (like the example here: https://influxdb-python.readthedocs.io/en/latest/include-readme.html#examples)?

[2017-10-30 12:36] #471 closed

[2017-10-30 12:36] #463 closed

[2017-10-30 12:37] #426 closed

[2017-10-30 12:38] #413 closed

[2017-10-30 12:40] #498 closed

[2017-10-30 12:55] vincent-legoll commented on #498
@xginn8: would have been cool if you told us the closing reason.

[2017-10-30 13:13] vincent-legoll commented on #498
What would be interesting to know is if you think something is wrong/missing from the documentation...

[2017-10-30 13:33] n01knows commented on #498
Well it is hard to tell, for me python not so much experienced person it would be nice to know how to extract particular values from query output. But this can be so obvious from experienced python programmer than it would not be worthy to add to documentation :)

[2017-10-30 14:36] Don42 commented on #416
This isn't really fixed by #508. My issue is that a user of your library should not need to know what library you are using to write to the database to handle all errors. Currently I have to import requests myself to handle connection exceptions.

[2017-10-30 19:04] thomir opened #533 "`InfluxDBClient.request` discards error details when raising exception"
The `InfluxDBClient.request` method contains code to make a request to the influxdb server that looks like this:

[code]

The problem is that if we fail to connect, the ConnectionError that is raised does not have any of the information about what actually failed, making it really hard to debug from the exception message.

A possibly alternative might be something like this:

[code]

This will re-

[2017-10-30 21:57] spott commented on #517
How do I install 1.2.4 on a Mac?

What is broken on 1.3.6?

[2017-10-31 12:06] xginn8 commented on #498
Sorry about that! I closed the issue due to the lack of response from OP.

[2017-10-31 12:20] xginn8 commented on #517
I'm not sure how to target 1.2.4 on Mac, though I suspect you can just build from source after checking out the correct git tag (https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md for a better idea of the details). I haven't spent much time digging yet but most admin tests fail when connecting to an InfluxDB running v1.3.6.

[2017-10-31 12:24] xginn8 commented on #521
Would you be willing to prepare a patch for this issue (and a test)? If not, I should be able to get to it this week. Thanks for reporting!

[2017-10-31 12:34] xginn8 commented on #451
Rereading the InfluxDB documentation, they recommend larger writes for better performance:

It appears as though there was support at some point for gzip reading and writing (https://github.com/influxdata/influxdb/issues/1449) but I can't find any API references to those features now.

[2017-10-31 12:48] xginn8 commented on #522
I ran a quick test with requests==2.10.0 and all the unit tests seemed to pass, so it might work, but ymmv. If you run into any trouble you might not get much support with such an old version of the library. Let us know the results!

[2017-10-31 12:48] #522 closed

[2017-10-31 13:32] mkarlesky commented on #521
We were far from certain if our hack was the best way to fix the issue.
And, we are not at all familiar with the test suite for the project. While
we would love to help more, we feel we’re not the best source for
correcting the problem and contributing to the project beyond reporting
this problem.

Thank you for following up.

On Oct 31, 2017, at 7:24 AM, xginn8 <notifications@github.com> wrote:

[2017-11-02 04:16] shoother813 commented on #240
Are there any updates on this issue?  The below code seems to have fixed the issue, but im wondering if you can create an update.

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

[2017-11-06 00:36] chiamarc commented on #496
It seems to me that in most contexts you would want a separation of dataframes for each measurement, especially if those dataframes have multiple tags or fields beside value.  Alternatively, could you not use InfluxDBs native inner join?

[2017-11-07 12:49] n4cr opened #535 "dict.keys() returns `dict_keys` object and not a list in python 3"
In the following example:

[code]

If you call it like `CandleSeriesHelper(**candle)` then you get an error:

[code]
It happens on the following line and its becuase in python 3 `dict.keys` does not return a list but a dict_keys object.

https://github.com/influxdata/influxdb-python/blob/9d6de133053465fb5a4973be2bfc46cd6e4a88af/influxdb/helper.py#L114

[2017-11-08 02:51] xginn8 commented on #533
i believe this was fixed in https://github.com/influxdata/influxdb-python/pull/508, can you confirm that? you may need to run from HEAD, as this change hasn't made it into a release yet.

[2017-11-08 03:05] xginn8 commented on #247
closing due to lack of response

[2017-11-08 03:05] #247 closed

[2017-11-08 19:46] thomir commented on #533
I can confirm that it's fixed in #508, thanks.

[2017-11-08 19:46] #533 closed

[2017-11-09 03:35] gylu commented on #65
@analytically, I'm a little bit slow, but wouldn't write_points(data, batch_size=10000) work, because kwargs would get it?

[2017-11-14 13:24] #302 closed

[2017-11-14 13:28] xginn8 commented on #517
Closing this, let us know if you're still having issues and we can reopen!

[2017-11-14 13:28] #517 closed

[2017-11-15 02:52] xginn8 commented on #392
Closing due to lack of activity

[2017-11-15 02:52] #392 closed

[2017-11-17 02:41] xginn8 commented on #349
Closing as this is now configurable. If there are still issues regarding this error, we'll reopen.

[2017-11-17 02:41] #349 closed

[2017-11-18 18:33] jameslamb commented on #496
@chiamarc that's fair, I wasn't thinking about the case where you're pulling more than just value. Please feel free to close this issue

[2017-11-18 19:57] #496 closed

[2017-11-24 01:15] wolfohyeah commented on #516
@xginn8 @gopisera  Hi , I'm a new learner of python and I have the same problem with @gopisera when using json to write points into the measurement. And I find that it will not have problem if the json has only one object like below:
`json_body = [
        {
          "measurement": perf,
              "tags": {
                  "host": hostname
                  },
              "fields": {

[2017-11-25 05:35] xginn8 commented on #397
@zshimanchik can you reproduce this issue from the current release?

[2017-11-25 05:37] xginn8 commented on #451
closing due to inactivity

[2017-11-25 05:37] #451 closed

[2017-11-25 05:41] xginn8 commented on #251
This bug should be fixed in the latest release -- if not, we can revisit.

[2017-11-25 05:41] #251 closed

[2017-11-25 05:42] #381 closed

[2017-11-25 05:43] xginn8 commented on #381
this was fixed in 2e8c5886

[2017-11-25 16:31] #479 closed

[2017-11-25 16:34] xginn8 commented on #359
This has been fixed in the latest release:

[2017-11-25 16:34] #359 closed

[2017-11-25 17:04] xginn8 commented on #516
I can't reproduce this issue in the latest release. In my testing, multiple points per one write works just fine. Can you either paste something showing exactly the error, or retry with the latest release? @wolfohyeah

[2017-11-25 17:10] xginn8 commented on #520
@mkarlesky can you provide an example where this fails? I'm having trouble reproducing it.

[2017-11-25 17:20] xginn8 commented on #214
ResultSets now return tags as well when calling `get_points()`, closing.

[2017-11-25 17:20] #214 closed

[2017-11-25 23:12] psy0rz commented on #531
I can confirm this. Although chunked mode is supported, its completely useless this way.

They even went to the trouble of returning a generator, but its no use since the whole response is read into ram anyway.

I need this to process millions of measurements in chunked mode.

[2017-11-25 23:17] psy0rz commented on #463
Chunked support is useless the way its implemented, see #531

[2017-11-25 23:35] psy0rz commented on #531
First step in solving this is to add stream=True when calling self._session.request().

Now it makes it all the way to _read_chunked_response(), in which case response.iter_lines() will now be a generator.

[2017-11-25 23:52] psy0rz commented on #531
Also found a extra problem when using DataFrameClient.query(): This also uses InfluxDBClient.query(), HOWEVER, for some reason it then calls self._to_dataframe() with the result set, which in turn processes all results in memory instead of returning some kind of generator.

[2017-11-26 00:32] psy0rz commented on #531
ok i think i fixed it, will make a pullrequest.

[2017-11-29 07:35] wolfohyeah commented on #516
@xginn8  Hi, Thanks for your quick respond. I find out the reason of my problem today.  I misunderstood the [example](https://influxdb-python.readthedocs.io/en/latest/include-readme.html#examples) code. I thought that the '`json_body`' is a JSON object (instead of a Python object) so I invode `myjson=json.dumps(json_body)` before  `client.write_points`.  After I remove the `json.dumps` today, my s

[2017-11-29 10:00] witosx opened #539 "DataFrameClient.query() ignores database parameter"
**Worked with** influxdb-python v4.1.1
**Fails with** influxdb-python v5.0.0

[code]
[code]

[2017-11-29 13:08] xginn8 commented on #539
Looks like this was introduced in https://github.com/influxdata/influxdb-python/commit/1a7c56c536dcecb0ab0502804e11d4cae9592c91 (from git bisect). I'll fix this today. Thanks for reporting @witosx!

[2017-11-29 19:45] garrettkatz commented on #520
Here's an example that fails in my environment.  Using the influx cli:

[code]

In a python shell, with `X.X.X.X` replaced by the host IP:

[code]

And more specifically, the patch we came up with was to change the line at the end of `_convert_dataframe_to_lines(...)` in `_dataframe_client.py` from

 `points = (measurement + tags + ' ' + fields + ' ' + time).tolist()`

to

 `points = (_escape_tag(

[2017-11-30 01:40] xginn8 commented on #516
Great, thanks for the update @wolfohyeah. Closing.

[2017-11-30 01:40] #516 closed

[2017-11-30 01:43] xginn8 commented on #520
excellent, thanks for the repro! I'll take a look at this.

[2017-11-30 01:44] xginn8 commented on #520
note this does work with `protocol=json`, as an immediate workaround

[2017-11-30 02:13] garrettkatz commented on #520
Thanks, both for looking into it and for the json pointer!

On Wed, Nov 29, 2017 at 8:44 PM, xginn8 <notifications@github.com> wrote:

[2017-12-01 01:55] xginn8 commented on #497
closing this since there's no issue

[2017-12-01 01:55] #497 closed

[2017-12-01 18:17] boredstiff opened #541 "Hosted documentation is out of date"
The docs that are hosted as 'latest' are for 4.1.1 while the latest version is currently 5.0.0

https://influxdb-python.readthedocs.io/en/latest/

[2017-12-03 19:27] xginn8 commented on #541
@aviau can you force a rebuild of the docs? I can't access the readthedocs.io integrations to fix the webhook (looks like it may be disabled or otherwise non functional).

@alexwidener I forked the docs here and forced a rebuild in the interim, see http://xginn8-influxdb-python.readthedocs.io/en/latest/

[2017-12-03 19:54] aviau commented on #541
I'll take a look at this soon. Thanks for noticing!

[2017-12-03 19:54] #539 closed

[2017-12-06 23:21] linearb opened #543 "1.3, 1.4"
Curious how far away is this from supporting 1.3/1.4 with tsi?

[2017-12-10 11:51] mm-manu opened #544 "UDP Lineprotocol insert not working"
I'm trying to make inserts via udp but nothings gets inserted.

Example:
[code]
No insert happend.
After looking at the code of send_packet I got confused by `line 879`:
`data = ('\n'.join(packet) + '\n').encode('utf-8')`
it turns the above line example to:
`b'm\ne\nt\nr\ni\nc\n1\n,\nt\na\ng\n1\n=\n1\n,\nt\na\ng\n2\n=\n2\n \nv\na\nl\nu\ne\n1\n=\n1\n0\n0\n'
`
When calling `client.udp_socket.sendto(

[2017-12-10 12:01] mm-manu commented on #544
sorry, it works with a list as parameter in send_packet.
Could be clearer in the documentation.

[2017-12-10 20:52] thiagofigueiro commented on #535
@n4cr I believe this is fixed in version 5.0.0 because it now uses a set:

https://github.com/influxdata/influxdb-python/blob/v5.0.0/influxdb/helper.py#L116

[2017-12-10 21:22] xginn8 commented on #544
closed via #545

[2017-12-10 21:22] #544 closed

[2017-12-11 13:44] xginn8 commented on #397
Closing for now, please feel free to reopen if this problem is still occurring.

[2017-12-11 13:44] #397 closed

[2017-12-11 13:51] xginn8 commented on #535
This issue is fixed in the latest release, I've confirmed locally.

[2017-12-11 13:51] #535 closed

[2017-12-11 23:59] xginn8 commented on #485
This issue was fixed in https://github.com/influxdata/influxdb-python/pull/537

[2017-12-11 23:59] #485 closed

[2017-12-12 00:02] xginn8 commented on #343
closing this issue due to lack of activity.

[2017-12-12 00:02] #343 closed

[2017-12-12 13:14] xginn8 commented on #520
This issue was fixed in #542

[2017-12-12 13:14] #520 closed

[2017-12-12 13:17] xginn8 commented on #484
Is this issue still occurring in the latest release?

[2017-12-12 13:23] xginn8 commented on #351
I cannot reproduce this issue from current master, feel free to reopen if this problem is still occurring!

[2017-12-12 13:23] #351 closed

[2017-12-12 14:56] garrettkatz commented on #520
Thanks, much appreciated!

On Tue, Dec 12, 2017 at 8:15 AM, xginn8 <notifications@github.com> wrote:

[2017-12-13 11:28] clasnake commented on #349
@xginn8 Hi, any plan for a new release that can be installed via pip? Seems the latest version is still 4.1.1 for now.

[2017-12-13 13:33] xginn8 commented on #349
We released 5.0 a week or so ago and pypi looks up to date:
https://pypi.python.org/pypi/influxdb

On Dec 13, 2017 6:28 AM, "clasnake" <notifications@github.com> wrote:

[2017-12-14 10:01] AvnerCohen opened #546 "intermediate '[Errno 1] Operation not permitted'"
influxdb/client.py in send_packet at line 772

Seeing this exception poping up every few hundreds of call.
Using version 3.0.0 of the lib on a CentOS machine, any ideas or directions?

[2017-12-15 02:17] xginn8 commented on #546
Can you upgrade to the latest release and see if the problem persists?

On Dec 14, 2017 5:01 AM, "Avner Cohen" <notifications@github.com> wrote:

[2017-12-15 14:03] tux-00 commented on #422
I agree with this.

@shagru are you talking about the latest version of InfluxDB or influxdb-python ?

[2017-12-18 08:15] patrickhoebeke commented on #422
Indeed, we should reject nan, None and inf values. My original proposal was only taking into account nan and None values (detected using pd.isnull()). We should indeed also exclude np.inf .
We could either:
- use np.isinf
or
- use context :
with pd.option_context('mode.use_inf_as_null', True):
    df = df.dropna(subset=['col1', 'col2'], how='all')

Do you want me to update my pull request or creat

[2017-12-18 11:11] AvnerCohen commented on #546
Got the exact same error after upgrading to 5.0.0.
This is not constant, and probably 99% of requests go just fine.
Happy to provide additional data as needed.

[2017-12-21 01:02] xginn8 commented on #546
Is it possible two processes are racing and one is holding the port open causing this error? How are you calling the `write`?

[2017-12-21 06:33] AvnerCohen commented on #546
Thanks for trying to help on this, much appreciated.

We are using a very basic setup of:
[code]
To send data, via udp.

We are running python 2.7.13 and the write() is invoked from a server with
multiple celery workers, I imagine there is a potential for multiple
requests on the same time..
Is there an easy way to test this direction?

On Thu, Dec 21, 2017 at 3:02 AM, xginn8 <notifications@github

[2017-12-27 16:47] techaddicted commented on #497
I know this issue is closed, but it looks like this is really an issue!
I also encountered this error, when trying out the example code for [influxdb-python with pandas](https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py).

Can we get a fix for this?

[2017-12-28 20:58] rounak9791 commented on #286
when i try the below snippet
t = time.strftime('%Y-%m-%d %H:%M:%S')
    headers = ['time', 'tag1', 'tag2', 'field1', 'field2']
    data = [[t, 'MSFT', 'NYSE', 1.3, 2.5], [t, 'APPL', 'NYSE', 3.5, 4.24]]
    df = pd.DataFrame(data, columns=headers)
    df['time'] = pd.to_datetime(df['time'])
    df = df.set_index('time')
    tags = {'tag1': df[['tag1']], 'tag2': df[['tag2']]}
    client.write_points

[2017-12-28 21:00] rounak9791 commented on #286
Also it wish to insert values with similar timestamps..
df index allows it but when i use write_points in the db i see only unique values of the timestamp entries

[2017-12-28 21:22] rounak9791 opened #548 "inserting data to influxdb using pandas having redundant index, but gets saved as unique items"
hi all
i am new to pandas and influx i have small snippet doing this

[dates = [datetime.datetime(2012, 5, 1), datetime.datetime(2012, 5, 2), datetime.datetime(2012, 5, 3)]
index = pd.DatetimeIndex(dates)
df = pd.DataFrame(data=list(range(3)),index=index)
client = DataFrameClient(host, port, user, password, dbname)
client.create_database(dbname)
client.write_points(df, 'test')

**i get output from

[2018-01-04 15:38] AndyMender opened #549 "'unable to parse...' error on large JSON writes and empty string field values"
I read several discussions in the Issues tracker and on Stack Overflow on why InfluxDB doesn't support vanilla SQL NULLs and I'm perfectly alright with that. However, inserting empty strings (""), the accepted equivalent of NULLs, fails on large datapoint batches. Example:
1. extract some 400-500 datapoints into individual Python dicts with the mandatory "time", "measurement", "fields" and "tags"

[2018-01-04 19:16] mpas opened #550 "How to export large number of rows to a csv file?"
Hi there, i am trying to export a large number of rows to a csv file using the python client but i seem unable to do so. I am consistently blowing up the memory on the machine that runs the query. Any hints or pointers how this could be done would be appreciated.

[2018-01-04 19:21] mpas commented on #478
I have a need to export a large number of rows and seem to run in the same issue that you have solved. Could your solution be used to export these large numbers?

[2018-01-05 02:02] msohcw commented on #478
Essentially, I wrote a wrapper around InfluxDB and extended it with a `lazy_query` method. I then used `requests` in-built streaming capability to stream HTTP requests to InfluxDB. I would then return the stream as a generator.

[2018-01-08 20:44] laimaretto opened #551 "a.empty, a.bool(), a.item(), a.any() or a.all() when inserting DF into InfluxDB"
Hi! I've updated both the influxdb client and pandas to the latest versions, using `pip3`. These are my versions.

[code]

[code]

[code]

After the upgrade, I can no longer insert my DF into influxdb. This is the class that implements the insertion:

[code]

As said, this was working before the upgrade happened. Now I'm getting the following error when trying to do the insert (I'm catching the ex

[2018-01-09 04:49] prayuktibid opened #552 "How to post CSV file data into the InfluxDB server in same time series as CSV File's time series?"
I would like to post data from a CSV file to InfluxDB file and the Time column of InfluxDB should match with CSV file Time column. I meant InfluxDB time series should same as CSV file's Time series.

My main motive is InfluxDB should store the data of CSV file with respect CSV file's time series.

The CSV file is shown below

[code]

I have used this spice code to convert CSV file's time to epoch

[2018-01-09 07:47] SatoshiNewton commented on #497
Actually, i fix it.
And i think it's still need to take, because the module need more compatibility to pandas DataFrame.
I would have pull request after i take more testing about pandas and Mac OS X.

[2018-01-09 12:40] SatoshiNewton opened #553 "DataFrameClient.write_points() do not really write data into measurements."
I found the example of DatAFrame write_points do not really write the points into database, when I check it with console.
The database and the measurements were created, but the points did not be written.
In the case of write_points without tag, the measurements was empty.
In the case of write_points with tag, the measurements contain the tag rather than the dataframe, point we want to write in.
I

[2018-01-09 14:40] kiranmantri commented on #497
Hi @SatoshiNewton ,
Cool ! that's is the approach I applied on my end to solve the bug... and I believe that is right way to solved it (or at least to make influxdb-client more robust when dealing with Pandas dataframes).

[2018-01-11 20:04] mdhausman opened #554 "UDP Precision still locked at seconds"
Debugging some issues getting InfluxDB metrics from our python services, I found that even [in the latest code](https://github.com/influxdata/influxdb-python/blob/master/influxdb/client.py#L500) UDP writes are locked into seconds precision when this hasn't been a necessity for influxdb since [early 2016](https://github.com/influxdata/influxdb/pull/5565).

Isn't it time for this to be updated? I'd

[2018-01-11 20:15] aviau commented on #554
Feel free to open a PR

[2018-01-12 12:57] SatoshiNewton commented on #553
@xginn8
Could you help me for this problem?

[2018-01-15 15:12] hvdklauw commented on #499
Yeah, not sure now if I can upgrade to version 5 because there is nothing to indicate backwards compatibility

[2018-01-15 16:11] goriccardo commented on #531
Any update on this?

[2018-01-15 20:15] aviau commented on #499
See https://github.com/influxdata/influxdb-python/releases

[2018-01-15 20:16] aviau commented on #499
![screenshot from 2018-01-15 15-15-53](https://user-images.githubusercontent.com/2706882/34960002-007b3fdc-fa07-11e7-8d30-759f1099a114.png)

[2018-01-15 20:16] aviau commented on #499
@hvdklauw the breaking change is well explained.

[2018-01-18 17:18] jpsaraiva opened #558 "InfluxDBClientError: 400 writing df points"
Hello,

I'm in need of some help with inserting a df into influxdb.

My code:
[code]

Output:

On write_points I get the exception:

If i run write_points without tags: client.write_points(df, tbName, protocol='json')
Execution completed but only one line is inserted.

Without setting the index I just get:
TypeError: Must be DataFrame with DatetimeIndex or PeriodIndex.

.csv file is just 3 lines:

[2018-01-19 09:02] AndyMender commented on #558
I'm not a Python InfluxDB client developer, but it seems to me like you're missing the "fields" dict in your JSON. The JSON should have the following structure:
[code]
The "time" timestamp is optional (if absent, the current time string is used) and so is the "tags" dict, but "fields" and "measurement" are mandatory.

[2018-01-22 10:49] jpsaraiva commented on #558
Hello Andy,

Thanks for your reply.

I found similar information at http://influxdb-python.readthedocs.io/en/latest/examples.html on the tutorials - basic example. But for tutorials - pandas, field values are not specified like that, only the dataframe and tags are passed into write_points function.

Reading on issue, #362 , using tag_columns parameter instead of tags solved the issue:
client.writ

[2018-01-22 10:49] #558 closed

[2018-01-23 15:06] mausquirk opened #559 "SeriesHelper: Is it possible to set client in constructor?"
I would like to set the client in the constructor of MySeriesHelper:

[code]

What's the right way of doing this?

[2018-01-25 09:54] RossBarnie commented on #499
Yes, the release explains the low-level detail of the change, but as a user of InfluxDB, and not a developer on it, I have no idea which versions of InfluxDB would be incompatible without trawling through various versions of InfluxDB's source code.

While the release does provide a good explanation of the changes, a Changelog, along with a clear indication of InfluxDB versions affected by any brea

[2018-01-25 14:35] aviau commented on #499
influxdb-python is for programmers. If you use a program that uses influxbd-pyhton, this program should document what version of influxdb-python it supports.

[2018-01-25 14:44] RossBarnie commented on #499
Ok, in that case let's look at it from a programmers' point of view. How do I know which versions of InfluxDB are no longer supported by the 5.0.0 version of influxdb-python? What versions of InfluxDB can I say I support to people who use my library which depends on influxdb-python? Of course I can go look for myself, the point is that if there's a single source of truth (ie in the Changelog), the

[2018-01-25 14:55] aviau commented on #499
We don't even know ourselves.

[2018-01-25 21:28] AndyMender commented on #422
I noticed the `DataFrameClient` class implements an `ignore_nan` keyword argument, which by default is set to `True` and pytest tests for nan conditions (either entire lines of a dataframe or individual column values) seem to confirm that this is working. However, I still have the above mentioned issue with writing dataframes containing nan values.

InfluxDB server version: 1.4.2
InfluxDB Python c

[2018-01-28 12:20] tonyyuandao commented on #421
me too, exactly the same issue.

[2018-01-30 14:46] szanics opened #560 "client.py create and alter_retention_policy functions don't allow to change the shard group duration"
The influxdb documentation recommends that you need to chose a specific shard group duration that matches your retention policy e.g. 1 day RP should have 1 hour shard group duration. Link to the docs:
https://docs.influxdata.com/influxdb/v1.4/concepts/schema_and_data_layout/#shard-group-duration-management

This parameter is missing from the client. I used the 4.1.1 version but this problem is sti

[2018-02-01 12:46] sinemypolat opened #561 "ISO formatted dates give syntax error"
Hello,

I use dataframeclient to get the dataset from influxdb.
And I use SQL for queries.

I want to limit my dataset on 7th of January.

I wrote my query like that:

[code]

The error is ;

Invalid Syntax.

When I don't use the date limitation codes ('where time>... and time<...'), the result rows are coming in this shape:

[code]

What is the problem with syntax and dates?

Thanks

[2018-02-03 08:00] acezzz commented on #195
I have encountered the same error in version 5.0.0. The workaround julienvienne provided does not work as well.

[2018-02-09 13:08] durandom commented on #514
the query returns a dict of dataframes. so in the above examples you would need to do this

[code]

[2018-02-12 10:59] enavarro222 commented on #543
Is it any news on it ?

[2018-02-14 17:59] roman1627 opened #564 "Question/Help - Epoch Time with write_points"
I am currently trying to insert a JSON into InfluxDB using EPOCH as the timestamp, but i keep getting the below error, is it not possible to directly insert Data using Write Points to influx using EPOCH Time?
[code]

[code]

Where influxJson -
[code]

[2018-02-17 06:56] Yaser-Amiri commented on #452
I ported this library. It's work with aiohttp in back-end and it's compatible with asyncio.
[async-influxdb-python](https://github.com/Yaser-Amiri/async-influxdb-python)

[2018-02-20 15:50] ethanlinys commented on #286
<img width="929" alt="case" src="https://user-images.githubusercontent.com/18170680/36433932-b80fe5b4-1698-11e8-88a7-56d40f54acc1.png">
Any one can help me with this problem?

[2018-03-05 18:30] Donovant opened #566 "InfluxDBClient has no close() function as the documentation suggests."
Trying to use the InfluxDBClient.close() function as referenced [http://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.InfluxDBClient.close](here).

I have printed the directory of InfluxDBClient which doesn't list close and you can see the error when trying to use this function.

![screen shot 2018-03-05 at 11 29 24 am](https://user-images.githubusercontent.com/2975437/3

[2018-03-05 21:52] csaladenes commented on #552
Use pandas `pd.to_datetime` to handle the date conversion

[2018-03-07 11:43] dbilli commented on #564
Are you sure your timestamp is correct?

$ date -d@1518630588598
Sat Jun 27 00:09:58 CEST 50093

Maybe it should be 1518630588:

$ date -d@1518630588
Wed Feb 14 18:49:48 CET 2018

[2018-03-08 13:52] maggick commented on #240
Still no news on this issue?

[2018-03-08 23:35] shakefu commented on #543
Is there any timeline for actually supporting the latest version of InfluxDB?

/cc @aviau @xginn8 @sebito91

[2018-03-10 01:36] Vanclief opened #567 "JSONDecodeError in client.query()"
I am trying to perform a valid query to a remote influx database. It will fail for certain time frames.

[code]
Will fail with:

[code]

Why would be the response not be a valid JSON object?

[2018-03-11 21:22] xginn8 commented on #567
If you execute that same query via the CLI, is there data returned? Also, what version(s) of InfluxDB and this python library are you currently running?

[2018-03-11 21:26] xginn8 commented on #566
The `close` class method was added in 5.0.0, see commit 87683f41.

[2018-03-11 21:26] #566 closed

[2018-03-21 10:17] rizwan-kh commented on #240
@shoother813 yes, this works perfectly to suppress sslwarning

[2018-03-21 13:04] darox opened #569 "Subpath for Host - 404 Not found"
Im running my influxdb behind a nginx reverse proxy on port 443 with subpath /influx which is working fine with curl, but with the influxdb python library it does not.
I get the following error back:
`Traceback (most recent call last):
  File "./check_lte_default_cell_ping_update_db.py", line 53, in <module>
    client.write_points(json_body)
  File "/usr/lib/python2.7/dist-packages/influxdb/clien

[2018-03-23 15:04] pauljherrera opened #570 "Increasing writing time"
Hello,

I am moving financial data from .csv files to InfluxDB.
I made a test with 500,000 rows of data containing only one field. This is the result of the time it takes to insert the data into the database.

`
Converting lines 0 to 100000.
Reading csv...
Reading time: 17.01147222518921
Writing into influx
Writing time: 4.185628175735474

Converting lines 100000 to 200000.
Reading csv...
Reading

[2018-03-24 20:42] jrajagopal commented on #570
+1

[2018-03-24 20:44] jrajagopal commented on #543
+1

[2018-03-25 00:04] sebito91 commented on #543
Hi folks, sorry for the delay here but we’re looking to get this sorted in the next couple of weeks.

[2018-03-26 13:08] supriyopaul opened #572 "InfluxDBClientError: 400 ("error":"partial write: field type conflict)"
**According to [influxdb doc](https://docs.influxdata.com/influxdb/v1.5/write_protocols/line_protocol_tutorial/#data-types) :**
" by default, InfluxDB assumes all numerical field values are floats."
[code]

**But [InfluxDBClient module for python](https://github.com/influxdata/influxdb-python):** It does not do the same.
[code]

[code]
![image](https://user-images.githubusercontent.com/33823698/37

[2018-03-30 01:46] shakefu commented on #543
FWIW we've published an open source bare bones Python client that works against InfluxDB 1.5 here: https://github.com/AxiomExergy/influx-client - doesn't implement the full API currently but it should work for basic write/read.

[2018-03-30 07:36] jadhavmanoj opened #573 "Handle empty list [] : getting error "invalid boolean""
I am trying to add data in influxdb but it throws the **invalid boolean** error.

When I investigate this. I found that if I add empty list ([]) as value then it throws an error as `invalid boolean`.
Instead of an `empty list`, I pass `None` as value then it works.

So my Question is should this handle by Influx client while doing dumps? or do we write our own logic to parse such case?

Thanks.

[2018-04-03 12:37] micw commented on #569
It won't work this way. There's an open pull request handling this: https://github.com/influxdata/influxdb-python/pull/556

[2018-04-09 16:51] zodiac403 commented on #483
Is this issue still active?

A method to backup a single DB or all DBs would be quit handy. I'm thinking about something similar to `influxd backup`

[2018-04-10 08:57] atillakz opened #574 "invalid field format\nunable to parse influx_db"
I tried to write a data to influxdb. But this issue always appears in terminal. If someone knows, how to solve this problem, please, help.

![screenshot from 2018-04-10 14-55-50](https://user-images.githubusercontent.com/37864162/38546742-48bd106c-3ccf-11e8-83cb-17dc858093a0.png)

[2018-04-11 08:51] atillakz commented on #574
I found that the cause is due to conversion of numpy_array ( predicted values from model) to dataframe. Is there any ways to safely convert this to dataframe?

[2018-04-11 13:09] Lootvoet commented on #570
Same thing here. I'm inserting 1 million points with a batch size of 5000 and it takes 368.54 seconds (2714 per second).

[2018-04-11 14:31] PascaleBorscia commented on #421
+1

[2018-04-12 08:10] ayoube01 commented on #572
did  you get to solve the issues ?
thanks

[2018-04-12 17:14] saftey commented on #551
I'm getting the same.  If I pip install 4.1.1 everything is fine, but 5.0 causes the "Truth value of DataFrame is ambiguous" issue to show up.  My df creation code has not changed.  Pip Upgraded influxdb to 5.0 and the issue showed up.  I have pip uninstalled it, and re-installed but it didn't help.  Went back to running 4.1.1.

[2018-04-13 22:08] aiworld8 opened #575 "write multiple data points failed in influxdb1.5"
Hi, I was trying to write multiple data points to a influxdb by running the sample python code ttps://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_sine_wave.py but not seeing the data in the database.

I tried to run the Insert command in influxdb CLI to add the data one by one, it works okay.

I did not find useful help yet though some people had encountered the same issue

[2018-04-15 06:47] jadhavmanoj commented on #575
@aiworld8 did you get any error?

[2018-04-15 17:01] dz123 opened #576 "Insert pandas dataframe into InfluxDB issues"
@tzonghao @aviau @xginn8 @sebito91

I am trying to store some trading data into InfluxDB using the `DataFrameClient` with the `write_points` method. I have read the [documentation online](http://influxdb-python.readthedocs.io/en/latest/examples.html) as well as the following two issues, https://github.com/influxdata/influxdb-python/issues/286 and https://github.com/influxdata/influxdb-python/issue

[2018-04-16 05:07] aiworld8 commented on #575
No, I did not get any error, but just cannot see all the data appearing in the database after running the python code. I am running the code in Fedora Linux PC, Python version 2.7.

From: Manoj Jadhav [mailto:notifications@github.com]
Sent: Saturday, April 14, 2018 11:48 PM
To: influxdata/influxdb-python <influxdb-python@noreply.github.com>
Cc: Weng, Jian <Jian.Weng@aviagesystems.com>; Mention <me

[2018-04-16 20:10] tzonghao commented on #576
@dz123
1. I've not tried to run your code, but it seems you'd want to use `tag_columns=['Ticker']` instead of `tags=tags`.
2. Should be OK, since InfluxDB series consist of "measurement" + "tags", i.e. different tags == different series.
3. NaN and inf are not supported in InfluxDB, see [here](https://github.com/influxdata/influxdb/issues/4089).

[2018-04-16 20:26] dz123 commented on #576
@tzonghao  Thanks! That helped!

[2018-04-18 09:00] mehdipourfar opened #577 "duplicated data when using dynamic measurement name"
I have inherited a class from SeriesHelper. I want to have a dynamic serie name (e.x. 'events.stats.{server_name}'). ‌But I don't want to have server_name field for points because all points in each series have a same server_name. What should I do?

[2018-04-19 14:34] harshaddevale-tudip commented on #550
https://docs.djangoproject.com/en/1.11/howto/outputting-csv/#streaming-large-csv-files

[2018-04-19 17:13] #550 closed

[2018-04-21 00:50] Sykomaniac opened #578 "[Question] Include tags in get_points"
Hi,

First of all apologies if this is the wrong place to raise this question! I execute the following query against an InfluxDB instance:

`SELECT MOVING_AVERAGE(active_percentage, 2) FROM "intel/procfs/cpu" WHERE "source" = 'testmachine' GROUP BY cpuID`

Which produces the following results (short-end for brevity):

[code]

Which is exactly what I want. However, when I execute this query in Pyth

[2018-04-21 05:37] supriyopaul commented on #572
@ayoube01 after a while I realized InfluxDBClient is doing the expected thing. It conveys python datatypes to influxDB without any intelligent decision making of assumptions.

[2018-04-24 03:42] dz123 opened #579 "InfluxDB frozen while trying to start on Windows platform"
@tzonghao @aviau @xginn8 @sebito91

I followed the directions [here](http://www.vmkdaily.com/posts/how-to-guide-compiling-influxdb-on-windows) and [here](https://stackoverflow.com/questions/26116711/how-to-install-influxdb-in-windows) to install influxdb files on to Windows machine. When I try to run influx db via:

`influxd -config influxdb.generated.conf`

I get the following error message, and

[2018-04-24 13:37] xginn8 commented on #579
This issue is with InfluxDB itself and not the python library, please open the issue there: https://github.com/influxdata/influxdb/issues/new

[2018-04-24 13:37] #579 closed

[2018-04-24 13:41] Sykomaniac commented on #578
I solved this by making use of the dataframe client and then doing some post processing of the result:

[code]

This works for my use case and will hopefully help/inspire others!

[2018-04-24 13:41] #578 closed

[2018-04-26 13:25] lopanta opened #580 "Query with retention_policy not default"
Dear developers, as for your documentation I can write data specifying a retention_policy and i I use from cli influx and specifying use <naamedb>.<nameretention>, if I query "select * from /.*/ I can get the right reply, while with curl there is no way to obtain the same: it runs only on default retention. In your documentation at the voice query there is no capability to specify retention policy

[2018-05-01 11:58] michelfripiat commented on #421
+1

[2018-05-01 14:41] michelfripiat commented on #421
I found out that it was my version of python that was to blame!
In influxdb/_dataframe_client.py line 325, pd.to_datetime(dataframe.index).values.astype(int) was returning a negative value!
Why? Simple, I was running my script in a python 3.6 32bits. Running it to python3.6 64bits solved the issue...

[2018-05-02 14:47] petercelentanojr opened #582 "formatting output results"
When querying influxDB from a python script, is there a way to better format the data output?  When printing the result of a query, python returns the query as a single line'd CSV-like output that isn't easily human readable.  Here is a sample of my script:
[code]
An excerpt of the output is pasted below:
[code]

I would prefer to grab my output as:

[code]
Is this possible currently with influxdb

[2018-05-02 21:39] dmuiruri opened #583 "Spaces in a dataframe column names breaks the line protocol"
An issue has been observed where a received dataframe contains un-escaped spaces in the column names (fields or tag keys), this results in a broken line protocol.

To reproduce:

`data = pd.DataFrame(np.random.random((10, 4)), columns=['a', 'b', 'First Entry', 'Second Entry'], index=pd.date_range(start='01/01/2000', periods=10))`
`client = DataFrameClient(database_name)`
`client.write_points(data,

[2018-05-03 02:10] aviau commented on #582
We don't have a function that produces this exact output but it would be very easy to write using the current API, please refer to the docs.

[2018-05-03 02:10] #582 closed

[2018-05-04 08:34] sthenault opened #586 "unexpected `from_dsn` behaviour?"
This is more an open discussion than an issue.

As a newbie influxdb python user, I'm a bit surprised by the `from_dsn` behavior. I don't get the point of using fake URL like 'influxdb://host:port/database' (unless those are working under some other conditions?). I would have expected it to work with an actual URL. It's still easy to provide extra kwargs to specify e.g. database. or UDP port.

Thi

[2018-05-04 08:51] sthenault commented on #586
also, I don't get the point of supporting several host separated by comma (`_parse_dsn` is returning several host information in a 'hosts' key), while this is actually unsupported (`from_dsn` only keep the fist one) nor undocumented / untested, unless I misunderstood something.

[2018-05-08 00:49] xginn8 commented on #583
Fixed by #584

[2018-05-08 00:49] #583 closed

[2018-05-08 00:51] xginn8 commented on #577
I'm not sure I follow 100% what you're trying to do, but this issue sounds like something you'd want to use tags for (see https://docs.influxdata.com/influxdb/v1.5/concepts/glossary#tag). If you can give an example, I'm happy to reopen.

[2018-05-08 00:51] #577 closed

[2018-05-11 09:27] tux-00 commented on #422
I think this issue can be closed, right ?

[2018-05-11 09:31] tux-00 commented on #572
@ayoube01 @supriyopaul the temporary solution I used:
[code]

[2018-05-11 10:41] supriyopaul commented on #572
@tux-00 Thanks, I too did the same.

[2018-05-15 13:44] arnauldvm commented on #548
Don't you need tags to distinguish your points?0
See also https://docs.influxdata.com/influxdb/v1.5/troubleshooting/frequently-asked-questions/#how-does-influxdb-handle-duplicate-points

[2018-05-18 06:31] mousumipaul commented on #286
when I tried @laimaretto  code above in python 3.6.4 i got the following error.
"TypeError: write_points() got multiple values for argument 'time_precision'".
I have checked the index of the dataframe is datetime but i failed to execute it. Please help me to overcome this issue.

[2018-05-22 10:45] teu commented on #570
Same here, seems to be a serious problem with the driver.

[2018-05-23 10:35] saruchi opened #589 "Unknown host response"
I am running the following code:

from influxdb import InfluxDBClient
infdb = InfluxDBClient(host= 'hostname', port = 8086, proxies =\
 {'http':'http://<username>:<password>@<address>'}, database = 'dbname')
infdb.get_list_database()

and I run into this error:
Traceback (most recent call last):
  File "clustering\influx_trade_data.py", line 18, in <module>
    infdb.get_list_database()
  File "C:

[2018-05-24 23:55] luke-marshall commented on #543
Thanks @shakefu :)
Can anybody give any clarity around whether we've got 1.5 support in the official package yet?

[2018-05-25 07:56] kshamazingade opened #590 "Tags not written correctly to influxdb 1.5 using python client"
I had written a series to a measurement in influxdb 1.5 on a server with a particular tag, named "source". Since there was an error with the data, I dropped the series and when I try to rewrite it using python dataframe client, the tag is not being written correctly and is getting duplicated.
Following is the snippet:
`client.write_points(df, data, tags={"source":"overall"}, database="results")`
I

[2018-05-30 09:38] HaaLeo commented on #421
I face this issue with python 2.7

[2018-06-01 19:19] shushen opened #591 "Performance degradation with line protocol on master vs. v5.0.0"
On master, commit bf232a7a introduced the much welcomed support of dropping NaN/null fields. But it has done so by assembling line by line with function `format_line()`.

This has degraded the performance significantly. See profiling result attached diagram of how `format_line()` is taking the majority of consumed time.
![performance degradation](https://user-images.githubusercontent.com/870631/40

[2018-06-05 15:02] Heiner92 commented on #412
I encoutered the same problem for DatetimeIndex. Fixed it like this:

[code]

[2018-06-11 15:58] jflory7 commented on #541
Curious if anyone had a chance to review this – I didn't realize I was looking at out-of-date docs until seeing this issue. I would guess I wasn't the only one. :slightly_smiling_face:

[2018-06-13 07:14] franknfurther opened #594 "line_protocol.py is unable to handle non integer unix timestamps on the Raspberry, causing unexpected behaviour"
It appears that the _convert_timestamp method of the line_protocol.py is unable to handle non integer unix timestamps on the Raspberry, while it has no problems with non ints on the Windows and Ubuntu machines. Extra-formatting the timestamps with int() has fixed it.

see [https://community.influxdata.com/t/unexpected-behaviour-when-using-python-influxdb-client-on-raspberry/5460/4](https://communi

[2018-06-20 14:12] lucasvanhalst opened #595 "Using POST instead of GET for long queries"
On Google Appengine, there's a 2KB limit for urls. So if you do multiple queries in one api call, that 2kb is exceeded pretty easily.

It would be nice if we could specify the http method in the `query` method to avoid that limit.

for now, we've patched the library in our project to replace this

https://github.com/influxdata/influxdb-python/blob/master/influxdb/client.py#L404-L410

 with:
[code]

[2018-06-28 17:53] galindro opened #597 "verify_ssl = False isn't working as expected"
Steps to reproduce this issue:

1. Create a self-signed certificate with [minica](https://github.com/jsha/minica). The bellow command will create a folder named influxdb.prod with the self signed certificate and the key.
[code]

2. Create this influxdb.conf config file:
[code]

3. Run an influxdb docker container using the above configuration and the created self signed certificate.
[code]

4. Cha

[2018-06-29 20:39] galindro commented on #597
I'm closing this issue in favour of https://github.com/influxdata/influxdb-python/issues/240

[2018-06-29 20:39] #597 closed

[2018-07-01 17:51] xginn8 commented on #589
Are you actually using a proxy? If not, can you remove the `proxies` parameter and try again?

[2018-07-01 17:52] xginn8 commented on #590
Unfortunately InfluxDB 1.5 isn't supported yet -- closing in favor of https://github.com/influxdata/influxdb-python/issues/543.

[2018-07-01 17:55] xginn8 commented on #569
Fixed in #556

[2018-07-01 17:55] #569 closed

[2018-07-01 17:56] xginn8 commented on #567
Closing due to lack of response -- we can reopen if needed.

[2018-07-01 17:56] #567 closed

[2018-07-01 17:57] xginn8 commented on #575
Unfortunately InfluxDB 1.5 isn't supported yet -- closing in favor of #543.

[2018-07-01 18:07] xginn8 commented on #561
It appears as though the timestamps aren't properly quoted, something like the following should fix it (untested, ymmv):

[code]

[2018-07-01 18:07] #561 closed

[2018-07-01 18:10] xginn8 commented on #574
Is there a code sample you could provide to reproduce this issue?

[2018-07-01 18:15] xginn8 commented on #553
If you are running the `tutorial_pandas.py` example, note that the final action is to drop the test database that the script wrote to: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py#L38. If this is still an issue, we can reopen!

[2018-07-01 18:15] #553 closed

[2018-07-01 18:15] xginn8 commented on #554
Fixed by #557

[2018-07-01 18:15] #554 closed

[2018-07-01 18:20] xginn8 commented on #573
Do you have an example where this issue occurs? I am unable to reproduce locally.

[2018-07-01 18:39] xginn8 commented on #564
If you pass the `time` value as an `int` rather than `str` type, you will be able to write properly. The `time_precision` parameter doesn't work with `str`-type timestamps.

[2018-07-01 18:39] #564 closed

[2018-07-01 19:19] xginn8 commented on #548
This behavior is expected based on how InfluxDB handles duplicate points.

[2018-07-01 19:19] #548 closed

[2018-07-01 19:21] xginn8 commented on #559
See the `serieshelper.py` example here: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_serieshelper.py

I believe you'll want to extend the SeriesHelper class and pass in the client argument there.

[2018-07-01 19:21] #559 closed

[2018-07-01 19:32] xginn8 commented on #541
@aviau if you add me as a maintainer on readthedocs.io, I can figure out why this is broken.

[2018-07-01 19:37] stef30360 opened #600 "ConnectionError: HTTPConnectionPool"
Hello,
I have a problem, I can connect my database influxdb with jupyter notebook.
any ideas ?
regards
SR

ConnectionError: HTTPConnectionPool(host='http', port=80): Max retries exceeded with url: //xxx.xxx.xxx.xxx:8086/query?q=SELECT++%2A++FROM++%22p1%22+++++&db=myhome (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x10b6094a8>: Failed to establish a new connection: [

[2018-07-01 19:50] xginn8 commented on #600
Can you paste the client code that set up the connection? From that output it looks as though you're not connecting to the right hostname.

[2018-07-01 21:33] stef30360 commented on #600
`import argparse
import pandas as pd
%matplotlib inline

from influxdb import DataFrameClient
#host='localhost'
host='my_url_VM'
port=8086   # port of InfluxDB http API

"""Instantiate the connection to the InfluxDB client."""
user = 'root'
password = 'root'
dbname = 'home_assistant'

client = DataFrameClient(host, port, user, password, dbname)
fields = """ * """
measurement = """ "°C" """
filters

[2018-07-02 10:33] bgusach opened #601 "Default database not being used in `write` method."
Hi,

I had some confusing problems while using the `write` method, and after some debugging realized that DB passed to the constructor is not used at all. On the other hand, the method `write_points` does use this DB, and I think this is the desired behaviour.

Is there any reason behing this? or it is just a bug. I can submit a patch if deemed necessary.

[2018-07-03 00:59] xginn8 commented on #601
I can't find anything specifically as to why that's not around, feel free to submit a patch! Note as well that passing a `params={'db': 'your_db'}` should unblock you in the interim

[2018-07-03 10:49] bgusach commented on #601
Hi,

I just created a pull request: https://github.com/influxdata/influxdb-python/pull/602

[2018-07-03 18:00] #499 closed

[2018-07-03 18:04] aviau commented on #541
I can't. The maintainer would be @sebito91 .

Ping.

Can you add @xginn8 and me as maintainers please?

My username on readthedocs is

[2018-07-03 18:07] aviau commented on #541
Ping @noahcrowley

[2018-07-03 18:17] sebito91 commented on #541
Was going to say, it wasn't me that's a maintainer on those docs...but I would update it if I could!

[2018-07-03 21:14] klmitch opened #603 "Client's `query()` method should directly support parameter binding"
The `InfluxDBClient.query()` method does not directly support the parameter binding syntax, documented at [1].  This can be worked around, by passing a `params` dictionary containing the JSON-encoded parameters as the "params" key, but this is rather confusing ("Which 'params' exactly are you talking about?  How do I encode it?").  The `query()` method really should treat bound parameters as first

[2018-07-03 21:32] aviau commented on #541
Yeah sorry. I initially tagged you by mistake.

[2018-07-04 00:21] #600 closed

[2018-07-04 01:23] xginn8 commented on #595
@lucasvanhalst are you willing to contributing a patch for this request?

[2018-07-04 01:35] xginn8 commented on #560
We can add a `shard_duration` parameter -- but do note (from the link you pasted):
[code]

So simply setting a retention policy will automatically set the proper shard group duration based on the table in the documentation.

[2018-07-04 01:37] #576 closed

[2018-07-04 01:55] #543 closed

[2018-07-04 03:08] xginn8 commented on #575
Reopening since this issue didn't show up in any of our tests

[2018-07-04 03:08] xginn8 commented on #590
Reopening since this issue didn't show up in any of our tests

[2018-07-04 07:16] chappi6 opened #607 "Write PandasDataframe to InfluxDb"
Hi

I try to insert data from an array to influxdb.
I found the Pandas framework wicht should work really nice for that. I started my self with some demo code from the influx docs, but it didnt work.
Any ideas whats wrong?

[code]
Return Code is:

Traceback (most recent call last):
  File "/home/schappi/Schreibtisch/intelmq-master/influx/main.py", line 25, in <module>
    {'k1': 'v1', 'k2': 'v2'},

[2018-07-04 14:28] xginn8 commented on #607
If you want to write a dataframe, you should use the `DataFrameClient` constructor rather than the `InfluxDBClient` constructor. See: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py

[2018-07-04 14:28] #607 closed

[2018-07-04 15:52] xginn8 commented on #575
Note that the final action in the script is to drop the `tutorial` database: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_sine_wave.py#L61

I tested that tutorial script using Python3.6 and InfluxDB v1.5.4 and found no issue. Closing.

[2018-07-04 15:52] #575 closed

[2018-07-04 16:00] xginn8 commented on #590
I am having trouble reproducing this in my test environment -- @kshamazingade, are you sure the series was properly dropped? If you can provide a longer snippet to help me reproduce, that would be much appreciated!

[2018-07-04 16:04] xginn8 commented on #484
Closing due to lack of response -- we can reopen if needed.

[2018-07-04 16:04] #484 closed

[2018-07-05 02:41] noahcrowley commented on #541
I'll look into it.

[2018-07-05 08:55] hyst329 commented on #543
@luke-marshall I confirm that reading data from 1.5 works well (no code modification required).

[2018-07-05 18:15] stef30360 opened #609 "Max retries exceeded with url"
Hi,
When I run
`client1 = DataFrameClient(host1, port, user, password, dbname1)
......
response = client1.query(query)`
I've an error "Max retries exceeded with url". I think that it's a max query API, but how can I solve this bug ?
regards .
stef

[2018-07-05 21:46] K1Zeit opened #610 "Python & InfluxDB: Setting column of unique values as key for writing DataFrame to InfluxDB with some values having the same timestamp"
I have the following DataFrame and try to write into an InfluxDB-Measurement:
[code]
As some of the values have the same timestamp, I am trying to use the UNIQUE-Column as a workaround to avoid them being overwritten as described in here: https://docs.influxdata.com/influxdb/v0.13/troubleshooting/frequently_encountered_issues/#writing-duplicate-points

I use the following code:
[code]
When I try t

[2018-07-06 05:35] stef30360 commented on #412
hi, @nirvana1122
thanks ! but where and how change 👍
time = ((pd.to_datetime(dataframe.index).values.astype(int) /
precision_factor).astype(int).astype(str))

to
time = ((pd.to_datetime(dataframe.index).astype(int) /
precision_factor).astype(int).astype(str))
  stef

[2018-07-06 06:21] stef30360 opened #611 "difference of date between influxdb and dataframe"
Hello,
where is a bug ?
I've got two hours of difference between my database and my dataframe.
database:
`SELECT  value  FROM Depart  WHERE time > now() - 24h`
......
1530858260000000000 25.02  (===> timestamp convert to date it's correct)

dataframe:
`response= client.query(SELECT  value  FROM Depart WHERE time > now() - 24h ) `
`response_df = pd.DataFrame.from_dict(response['Depart'])`
2018-07-0

[2018-07-06 14:20] #560 closed

[2018-07-06 15:14] xginn8 commented on #609
Can you paste a full stacktrace please?

[2018-07-06 16:44] stef30360 commented on #609
HI
I don't understand, now it works ! sorry.

[2018-07-06 16:44] #609 closed

[2018-07-06 17:06] stef30360 commented on #611
HI,
Thank you for your answer, but doesn't work, the problem is when we execute this code (influx-python)

`response= client.query(SELECT  value  FROM Depart1_watt  WHERE time > now() - 24h tz('Europe/Paris') ` ==> doesn't work

When I run the query under influx, it works !!

regars
stef

[2018-07-06 17:07] stef30360 commented on #611
HI,
Thank you for your answer, but doesn't work, the problem is when we execute this code (influx-python)

response= client.query(SELECT value FROM Depart1_watt WHERE time > now() - 24h tz('Europe/Paris') ==> doesn't work

When I run the query under influx, it works !!

regars
stef

[2018-07-06 17:17] xginn8 commented on #611
Can you please provide:

1) the version of InfluxDB you are using,
2) the version of the influxdb-python library you are using, and
3) what exactly is not working (with steps to reproduce if possible?)

[2018-07-06 20:23] stef30360 commented on #611
1 X-Influxdb-Build: OSS-X-Influxdb-Version: 1.7.0~n201806270800
2 InfluxDB pre v1.1.0
3 First: I test this query in influxdb shell, and it works, timestamp is right:
`SELECT value FROM Depart1_watt WHERE time > now() - 24h tz('Europe/Paris')`
Second: I test this query in jupyter, and doesnt'work, timestamp is wrong:
`response= client.query(SELECT value FROM Depart1_watt WHERE time > now() - 24h tz

[2018-07-06 20:50] xginn8 commented on #611
First, that version of InfluxDB is not supported, so ymmv. Please upgrade your client version, that version is very old.

It is very difficult for us to help you when you do not provide information -- can you paste the script you're running with output? You need to provide more information as to how the timestamp is wrong for you, since I am unable to reproduce this locally.

[2018-07-06 21:23] stef30360 commented on #611
ok i paste the script:

`"""Tutorial for using pandas and the InfluxDB client."""

import argparse
import pandas as pd
%matplotlib inline
from influxdb import DataFrameClient
#host='localhost'

host='35.180.97.122'
port=8086   # port of InfluxDB http API

"""Instantiate the connection to the InfluxDB client."""
user = ''
password = ''
dbname = 'iotawatt'
client = DataFrameClient(host, port, user,

[2018-07-06 22:00] xginn8 commented on #611
You are not issuing the query with a timezone clause, `tz('Europe/Paris')` so **you will get timestamps back in UTC**. That is consistent with the two hour difference you've pasted above.

[2018-07-06 22:00] #611 closed

[2018-07-07 05:41] stef30360 commented on #611
hi, sorry but it's a same issue.... I dont' understand, why a database are a correct timestamp and when I use a query from influxdb-python, it doesn't work.
regard stef

**_import argparse
import pandas as pd
%matplotlib inline
from influxdb import DataFrameClient
#host='localhost'

host='xxx.xxx.xxx.xxx'
port=8086   # port of InfluxDB http API
user = ''
password = ''
dbname = 'iotawatt'
client =

[2018-07-07 05:42] stef30360 commented on #611
hi, sorry but it's a same issue.... I dont' understand, why a database are a correct timestamp and when I use a query from influxdb-python, it doesn't work.
regard stef

import argparse
import pandas as pd
%matplotlib inline
from influxdb import DataFrameClient
#host='localhost'

host='xxx.xxx.xxx.xxx'
port=8086 # port of InfluxDB http API
user = ''
password = ''
dbname = 'iotawatt'
client = DataF

[2018-07-09 18:54] tschm opened #612 "Problems writing data"
I am a bit disappointed and surprised by the speed I observe when writing to my influxdb. However, I am probably doing something very wrong and would appreciate any pointers into the correct direction.

I am using the latest docker-image.

I have a DataFrame with 10 columns and 10000 rows, e.g. 100 000 data points. To write them into the database took me like 30 seconds! I am running Ubuntu on a 1

[2018-07-09 18:57] tschm commented on #612
Here's my client:
https://gist.github.com/tschm/4aa4eeda016a326331fbc024c0b12454

[2018-07-10 06:03] linguyen opened #613 "Import csv with multiple tables"
Hi, I want to write to DataframeClient
I have a .csv file with many tables which have the same structure for example:

market, branch a
day1, day2, value
1/1/2018,1/2/2018,1
1/3/2018,1/4/2018,5
[...] #more rows with the same structure as above.
market, branch b
day1, day2, value
1/1/2018,1/2/2018,2
1/3/2018,1/4/2018,5
[...] #more rows with the same structure as above.

I have used `pd.read_csv()`

[2018-07-10 22:14] aviau opened #614 "Adding a new pypi maintainer"
@xginn8, would you like to become a maintainer on pypi too?

This would allow you to tag and upload new releases.

The process is:

 1. Bump the version in ``influxdb/__init__.py`` (ex: 1c96ce244869b8d4fdee3b70bd441d707f42cd2c), following semver as well as possible.
 2. Tag, with the same format as the other tags

For example:
[code]

 3. ``./release.sh``

[2018-07-11 12:05] zxyz opened #615 "MEASUREMENT in query not quoted"
Hello
Disclaimer: I just started python.

I'm using Python 3.6 on RHEL 7.4 with influxdb-python 5.2.0.

I've got to make queries on measurements which are named after the fqdn of the host, but unfortunately the MEASUREMENT does not get quoted in the query and therefore fails.

[code]

so the request goes to the MEASUREMENT "name" and not to "name.example.net"

my query line looks as follows:

`res

[2018-07-11 14:38] xginn8 commented on #614
yep, that sounds good to me! my username on pypi is the same as github, [xginn8](https://pypi.org/user/xginn8/)

[2018-07-11 14:48] aviau commented on #614
I have added you as a maintainer!

[2018-07-11 14:49] #614 closed

[2018-07-11 17:13] jlynn opened #616 "#608 Breaks DataFrameClient"
`DataFrameClient.query` overrides `InfluxDBClient.query`, however it does not define the `method` keyword argument. This causes calls like `create_database` on `DataFrameClient` instances to fail.

[2018-07-12 05:29] xginn8 commented on #613
Once you read a csv into a dataframe, you can simply write that dataframe via DataFrameClient. I don't believe we want to support reading from csv natively from within the client.

[2018-07-12 05:29] #613 closed

[2018-07-12 08:09] zxyz commented on #615
@xginn8 thats what I thought at first too. But:
- the `grafana` user has read access on all databases
- I authenticated as user `grafana` for the query via the influxdb cli which works
- I used exactly the same code to query a measurement which name doesn't  include and _special characters_ but just plain letters (no dots et al.).

The Problem is that the the name of the MEASUREMENT is cut after t

[2018-07-13 00:13] xginn8 commented on #615
To be clear that response comes from the database and is not generated by the client. From my testing if you encapsulate the `{0}` field with double quotes you should get back the values:

`results = myclient.query('SELECT "interface","value" FROM "{0}" WHERE "metric" =~ /.*{1}/ AND time > now() - 2m'.format(args.hostname, xmode))`

[2018-07-13 00:13] #615 closed

[2018-07-14 17:07] xezpeleta commented on #616
This bug has been driving me crazy! I've just started playing with InfluxDB python client and I thought I was doing something wrong.

Thanks! I hope the maintainers will merge the PR soon...

[2018-07-14 22:06] linguyen opened #618 "TypeError: query() got an unexpected keyword argument 'method'"
`t = time.strftime('%Y-%m-%dT%H:%M:%S')
	client = DataFrameClient(host, port, user, password, dbname)
	headers = ['dateidx','tag1','tag2','field1','field2']
	data = [[t,'MSFT','NYSE',1.3,2.5],[t,'APPL','NYSE',3.5,4.24]]
	df = pd.DataFrame(data, columns=headers)
	df['dateidx'] = pd.to_datetime(df['dateidx'])
	df = df.set_index('dateidx')
	tags = {'tag1': df[['tag1']], 'tag2': df[['tag2']]}
	print("

[2018-07-15 23:31] #616 closed

[2018-07-15 23:39] xginn8 commented on #614
@aviau can you grant me push access to `master`? I can't cut a release it appears without approval for the change.

[2018-07-15 23:40] xginn8 commented on #618
This issue was fixed in #617. Sorry about that!

[2018-07-15 23:40] #618 closed

[2018-07-16 04:38] 26huitailang opened #619 "got wrong points data when using `result.items()`"
`select sum(sum) from stream where time > now() - 15d and host =~ /1.1.1.1|2.2.2.2|3.3.3.3/ group by time(1d), host fill(0)`

- I run the sql above at influx cli. I got 48 points data. **Right**
- I use the python client to get the same ResultSet. I got a problem.
  - ResultSet.get_points(), got 48 points. **Right**
  - ResultSet.items(), got 0, 16, 16 points. **Wrong**

How can I fix this problem

[2018-07-16 05:48] 26huitailang commented on #619
Sorry, I ignore the points data are generator.

[2018-07-16 05:48] #619 closed

[2018-07-16 08:18] zxyz commented on #615
@xginn8 thanks for the clarification.
quoting did the trick, could have thoght of that myself :man_facepalming:
sorry for the noise and thanks a lot for the help!

[2018-07-18 10:09] epa095 commented on #612
5.2.0 was released a day after you reported this, try that one. Also try 5.0.0 and see if it is equally slow.

[2018-07-19 11:16] flikka commented on #612
We also experience massive performance problems on writing large-ish data frames with version 5.1.0. One example (see below) uses 5 seconds on my local laptop to write a million lines (one column) with version 5.0.0, but on version 5.1.0 it takes minutes (in fact I gave up before it finished). On the current master the performance is back to 5.0.0 performance. The pypi current latest version 5.2.0

[2018-07-19 13:52] guilhermesteinmuller opened #620 "influxdb-python 5.2.0 doens't handle correctly unicode characters"
Hello.

We have noticed that after the upgrade of the pip package from **5.1.0** to **5.2.0**, one of our tests that deals with unicode characters was failing [1][2].

We were forced to block version 5.2.0 of our global-constrains [3] in order to keep tests passing

[1] http://logs.openstack.org/09/583209/1/check/monasca-tempest-python-influxdb/a166cac/logs/testr_results.html.gz
[2] http://paste.o

[2018-07-19 21:14] fluffynukeit opened #621 "Integer data never used"
I'm using 5.2.0.  My data is all integer data, but it always gets inserted into the DB as float.  I believe the offending line is in line_protocol.py

[code]

_get_unicode is called no matter the input, and that function tries to return text.  This causes the text_type check to always pass, so the integer case (and I presume also the float case) never get executed.

[2018-07-22 09:35] keivanK1 commented on #609
I got same error.
Traceback:
`Traceback (most recent call last):
  File "influxdb-1.py", line 7, in <module>
    client.create_database('test')
  File "/usr/local/lib/python2.7/dist-packages/influxdb/client.py", line 579, in create_database
    method="POST")
  File "/usr/local/lib/python2.7/dist-packages/influxdb/client.py", line 416, in query
    expected_response_code=expected_response_code
  F

[2018-07-23 15:30] osallou opened #622 "Test failure on write_points_from_dataframe_with_numeric_precision"
Environment:
 - Code: latest git repo clone
 - System: debian / ubuntu

When using numpy 1.14.5, the test *test_write_points_from_dataframe_with_numeric_precision* fails

    ======================================================================
    FAIL: Test write points from df with numeric precision.
    ----------------------------------------------------------------------
    Traceback (most

[2018-07-23 15:36] osallou commented on #622
oops, duplicate of #596

[2018-07-23 15:36] #622 closed

[2018-07-25 07:55] froginwell opened #624 "ResultSet __iter__ is not right when set chunked=True"
When set chunked=True, use code as below to fetch data. The result will be duplicate. (Please ignore my poor English.)

[code]

[2018-07-26 20:50] shalini-b commented on #570
@teu Did you use the HTTP APIs with requests and line protocol to write to influx DB instead of using the python library? I am also considering doing the same. Could you give me some details if possible.

[2018-07-27 02:48] gassyfeve opened #625 "Try to use ujson instead of json"
I found the low proformance of library json.
There are about 1441440 data in my single series.
When I try to query `select host,last(value) from node_cpu group by host`, I found it is ultra slow to parse the json body in the response. It takes me about 30s to solve the query.
When I modified the source code, using library ujson instead of json， I found it is ultra fast to parse the http response.

[2018-07-27 18:22] shalini-b opened #626 "Data migration to influxdb using python client extremely slow"
Hey! I have installed influxdb on a 16 core, 32GB RAM VM and I am trying to migrate data from a CSV file (37GB) to influxdb using the influxdb-python client. I have adhered to all the recommendations given to migrate historical data. The retention policy for the DB is 3years, the shard duration is 52w and I have changed the cache-snapshot-write-cold-duration to 10s. My schema consists of 50 measur

[2018-07-30 03:24] LYootsz opened #627 "[Question]retries in client.py"
Hi
    I just got started with python, I found a problem when learning client.py code, I hope someone can help me solve this problem. In the function“request”, when using the self._retries variable to control the number of connections, why use two variables to control the loop here, only one variable can be done, or it may be more beautiful.
[code]

[2018-08-06 22:37] markweghorst commented on #625
I'm not sure that is a good idea, whether uJSON or JSON performs better is really dependent on what Python run-time you are using and the size of the payloads.   If I'm using cPython then uJSON will be a good choice, however if I'm using pypy then the JIT will cause JSON to exceed the performance of uJSON.

I'd like to see the library configurable at runtime, let us chose between uJSON and JSON de

[2018-08-07 01:54] gassyfeve commented on #625
That' a good idea. I agree with that.

[2018-08-07 02:47] gassyfeve commented on #626
May be the same issue as mine. https://github.com/influxdata/influxdb-python/issues/625. If you are using cpython, try to use ujson instead of json.

[2018-08-09 19:27] dagonar opened #628 "[Question] Influx instance Mock"
Hello,

 I was wondering if there is a utility just like with MongoMock to mock InfluxDB instances or should I create my own mock instance? If so, how is this achievable in a correct way? My team and I are trying to implement the query method with regexes but we are having a hard time to add new features into that mock client. Is there a better way to achieve this?

[2018-08-10 18:38] laimaretto opened #629 "Can't write DF to influx after upgrade from 4.1.1 / 1.3.5 to 5.2.0 / 1.6.1"
I have a production system with the following versions, working just well.

[code]
With the following code, I have no troubles at all in inserting a DF into influx.

[code]
However, on my testing system, after doing upgrades to the latest  versions of influx/python/etc...
[code]

...I get the following error after running the `write_points()` method:

[code]
Same code on versions 4.1.1/1.3.5 works

[2018-08-11 18:02] connde opened #630 "Help setting tags using DataFrameClient"
Hi, I'm trying to use DataFrameClient to store data into Influx, I managed to insert the data into the database, but I cannot set any tags, so I'm able to insert if I don't set a tag.

Could someone help me out? I'm sure is something simple, but since I'm new to influx I'm not being able to solve it.

I want to store currency prices (open, close, high, low, volume) data related to a  symbol. I'm w

[2018-08-14 19:49] laimaretto commented on #630
What version of the client and server are you using? I can insert DF into influxDB 1.3.5 with client 4.1.1 using tags.

See this for an example: https://github.com/influxdata/influxdb-python/issues/629

[2018-08-14 22:58] connde commented on #630
I have 1.6.1 / 5.2.0.

Have you tried downgrading only the python package to see if it worked?

[2018-08-15 16:01] chintan-sheth commented on #512
I'm having the same issue. How did you fix it?

[2018-08-16 10:31] DaJansenGit commented on #618
Hey, i just installed influxdb-python on my python 2.7 client and still get the error
`TypeError: query() got an unexpected keyword argument 'method'` when trying to create a database with

[code]

[2018-08-16 11:14] chorus12 commented on #512
Here is my code that worked.
One IMPORTANT thing to remember - index in the dataframe must be datetime

from influxdb import DataFrameClient
host, port='192.168.0.222', 8086
user, password = 'root', 'root'
protocol = 'line'
dbname = 'your-db-name'
client = DataFrameClient(host=host, port=port, username=user, password=password, database=dbname)

# df_model_data - is the dataframe with actual data s

[2018-08-16 14:20] DaJansenGit opened #631 "pip version is not up2date"
Hey,
like i mentioned in #618 the fix you provided for the ``query() got an unexpected keyword argument 'method'`` bug is not included in the latest version of influxdb from pip. Could you please add the new version to pip? Thank you!

[2018-08-16 15:26] xginn8 commented on #631
@aviau can you cut a new release please? I still can't do that without push access to master (mentioned here too: https://github.com/influxdata/influxdb-python/issues/614#issuecomment-405126860)

[2018-08-17 01:36] aviau commented on #614
Sorry for not noticing this, I am on it!

[2018-08-17 01:41] aviau commented on #614
I would have to disable most checks:
 - no longer require reviews
 - no longer require status checks

Or, you would have to open a PR that bumps the version.

For now, I have disabled the checks.

Do you prefer that we re-enable them and require pull requests?

[2018-08-20 18:11] spierre91 commented on #631
Has the fix been incorporated into the latest version of influxdb from pip? I am also still getting the query() got an unexpected keyword argument 'method' error when running the influxdb tutorial.

[2018-08-21 08:23] salty-horse opened #632 "Cryptic error a tag contains a newline"
Using influxdb package version 5.2.0.

When calling `write_points` with a tag string that contains a newline, the client fails on an error that doesn't mention the tag:

[code]
Note that the error doesn't mention the newline at all.

If a newline is legal in a tag name, it may be serializing the command to influx incorrectly. If a newline isn't legal, the error should be clearer.

[2018-08-21 15:53] aviau commented on #631
This bug wasn't closed, and no releases were made.

[2018-08-22 14:18] mattibf opened #633 "influxdb-python 5.2.0: Query with UTF-8 chars causes exception"
Hello,

We observed a behavior change when moving from influxdb-python from 5.1.0 to 5.2.0.
A query containing non-ASCII UTF-8 characters was successfully executed with 5.1.0, but fails with 5.2.0.

Sample code:

-----------------------------------------------------------------------------------------
# -*- coding: utf-8 -*-

from influxdb import InfluxDBClient

client = InfluxDBClient('localhost'

[2018-08-22 14:34] mattibf commented on #620
I investigated further, and reported another issue #633 , which describes more in detail, what happens.
@guilhermesteinmuller: Can you pls. check, if the issue reported by you can be closed?

[2018-08-22 19:11] tux-00 opened #634 "Add python 3.7 support"
As python3.7 is out, we need to add python3.7 support.

[2018-08-23 16:34] tux-00 commented on #631
I have this problem too.

[2018-08-23 17:38] #620 closed

[2018-08-23 22:42] xginn8 commented on #633
@mattibf this bug is a result of https://github.com/influxdata/influxdb-python/blob/master/CHANGELOG.md#changed-1, specifically:
`Update POST/GET requests to follow verb guidelines from InfluxDB documentation`.

I will PR a fix in the next day or so, thanks for reporting this bug!

[2018-08-28 01:05] lukecyca opened #635 "raise_errors doesn't work when chunked=True"
### Steps to reproduce:

* Make a query that results in an error. In my case, I made a query that would cause a `query-timeout limit exceeded` error from the server
* Set `chunked=True`

### Expected result:

`influxdb.exceptions.InfluxDBClientError: query-timeout limit exceeded`

### Actual result:

A result set is returned containing results from all chunks that arrived prior to the error. No ex

[2018-08-31 03:20] TnjK opened #636 "field name error"
#Flask_influxDB   #0.1                                     #influxdb  3.0.0

   cpu_time_info = [45, '60%', ]
    data_list = [{'measurement': 'rds',
                  'tags': {'InstanceId': 'rm-3zsy1l73w9eno0566'},
                  'fields': {'Unix': int(time.time()),
                             'CpuUsage': "server01",
                             'MemoryUsage': cpu_time_info[0],

[2018-09-07 09:15] Gudipatiambaprasas opened #637 "How to install influxdb-python on windows"
Can you please explain how to install influxdb-python on windows I already installed influxdb and python separately

[2018-09-08 08:56] creslinux opened #638 "requests.exceptions.ConnectionError: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe'))"
Summary.
When uploading a large amount of plaintext data into influxdb HTTP api via requests the connection dies with the error:
`requests.exceptions.ConnectionError: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe'))`
after around 30MB of the upload; the file being loaded is 54.3MBs.

Im batching input to 5,000 candles per write.

The script is processing around 340,000 "candles" of data

[2018-09-08 12:04] creslinux commented on #638
By using a series helper  avoid the above problem.

Im unsure if there is a bug or not and im working around it or the error is expected behaviour as how i was inserting the data.

for future reference, this code works -inserting in 5000 chunks.
[code]

[2018-09-10 10:19] shantanoo-desai commented on #637
Try using __Windows Subsystem for Linux__ and there you will obtain a bash shell which will provide you all facilities for installing the repo via `pip`

[2018-09-12 14:18] Bennofue opened #639 "Invalid time_precision is given"
I'm currently trying to insert data into InfluxDB from within python.
Until it gets to "write_points" my code works pretty well so far.

While trying to insert the values i get the error:
"ValueError: Invalid time precision is given. (use 'n', 'u', 'ms', 's', 'm' or 'h')"

Here is my Code:
`
import random
from influxdb import InfluxDBClient

batch_size = 1000
test_client = InfluxDBClient("server",

[2018-09-12 15:01] shantanoo-desai opened #640 "What is the `batch_size` actually in this particular use case?"
### Case

- I have to upload a bulk of data to a cloud (via MQTT) by querying the InfluxDB.
- Since `tag` values cannot be changed I have chosen a `field` called `status` which is either `0` or `1`
- Initially all data sources store information via `status=0` and I check if the Connection to the MQTT broker is available or not.
- If there is a connection between client and broker then:
    * I que

[2018-09-13 14:19] bat79a opened #641 "Write timestamp data type in InfluxDB with python"
Hi all !

The influxdb documentation says that timestamp data type is possible :
url : https://docs.influxdata.com/influxdb/v1.6/write_protocols/line_protocol_reference/
`
Timestamp | Timestamps | Unix nanosecond timestamp. Specify alternative precisions with the HTTP API. The minimum valid timestamp is -9223372036854775806 or 1677-09-21T00:12:43.145224194Z. The maximum valid timestamp is 92233720

[2018-09-13 14:31] bat79a commented on #641
More details :
 - I'm using python 3.6 !

- datetime.strftime(my_date, '%Y-%m-%dT%H:%M:%S.%fZ') **is recognized like a string**
- my_date_format.timestamp() * 1000 **is recognized like a float**

[2018-09-13 15:50] bat79a commented on #641
Ok if I use this solution :
-> my_date_format = my_date.timestamp() * 1000 is recognized like a float

InfluxDB display the field like a float with this command :
-> SHOW FIELD KEYS FROM "usage-accounts"

But in Grafana, If I specify that is a date value, the real date if displayed : 2018-09-01

[2018-09-13 15:50] #641 closed

[2018-09-14 14:30] lafrech opened #642 "Doc seems outdated about supported InfluxDB versions"
https://influxdb-python.readthedocs.io/en/latest/include-readme.html

.travis.yml

[code]

Or am I just confused?

[2018-09-14 15:36] lafrech commented on #642
Actually, the whole documentation at https://influxdb-python.readthedocs.io/en/latest/ is outdated. I have no idea why.

Release: 4.1.1
Sep 13, 2017

[2018-09-17 08:04] lafrech commented on #631
Until a new release is shipped, you can install latest revision from master:

[code]

[2018-09-19 21:23] RonRothman opened #643 "write_points(...) lacks a "params" param"
We use `write_points`. We also need to set [consistency="any"](https://docs.influxdata.com/influxdb/v1.6/tools/api/#query-string-parameters-2).

But [InfluxDBClient.write_points()](https://github.com/influxdata/influxdb-python/blob/master/influxdb/client.py#L436) does not have a `params` parameter (which is the only way, as far as we can tell, to set the `consistency`).

[InfluxDBClient.write()](h

[2018-09-24 13:27] DaJansenGit commented on #631
Thanks for the workaround. This works fine for the moment!

[2018-09-25 13:19] MohamedNazeer opened #644 "Data not available in InfluxDb"
Dear Techies,

I am using Jenkins+influx-db+Grafana in my environment. In Jenkins server i have three components to write data into influx-db with different databases.
1. Javamelody
2. Telegraf
3. Influx-db plugin

Problem 1:
I could able to store the data through telegraph without any issues. But when i try to send the data to influx-db through Javamelody its throwing "java.net.SocketTimeoutExcep

[2018-09-26 18:34] orchestor opened #645 "Issue on query"
I successfully query successfully on chronograf but failed on this script.  This is my example query:

SELECT /tid([0-9)]+)y/ FROM "my_db"."autogen"."my_sensor" WHERE time > '2018-09-26T22:24:00.000000000Z'

but time >  now() - 3d works for both.

any reason on this?

[2018-09-26 22:47] orchestor commented on #550
@mpas how do you  do it?

[2018-09-26 22:48] orchestor commented on #645
put \ in front of ' and solve it.

SELECT /tid([0-9)]+)y/ FROM "my_db"."autogen"."my_sensor" WHERE time > \'2018-09-26T22:24:00.000000000Z\'

[2018-09-26 22:48] #645 closed

[2018-09-27 04:35] #644 closed

[2018-09-28 09:29] shantanoo-desai opened #646 "Example for sending information via udp needed in documentation"
It would be really helpful to perhaps setup a `udp` example in the repository. There is just mentions of it here and there in the API documents and they are not clear for usage.

1. Apparently the docs for [`send_packet()`](https://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.InfluxDBClient.send_packet) should mention a `list` instead of `sequence` which is very confusi

[2018-09-28 09:58] shantanoo-desai commented on #646
## UPDATE

Due to lack of proper documentation the structure of `dict` varies massively than the standard dict in the example:

In order to write information using UDP, the `dict` should be of the following structure:

[code]

[2018-09-28 10:08] shantanoo-desai opened #647 "Points sent via UDP are not stored in the correct database"
### Overview

* `influxdb-python` : v.5.2.0
* `python`: version 3.4.3
* Machine: Window 10 + Windows subsystem for Linux (WSL)

## Scenario

* Configured `udp` to be accessed via `8089`
* InfluxDB running via Powershell
* Python Script executed via WSL

## Code
[code]

## Output

Influx Shell
![grafik](https://user-images.githubusercontent.com/12070966/46202330-d8469000-c316-11e8-9415-420cd5924f3f

[2018-10-08 16:29] mpas commented on #550
I created a sample script that takes 2 dates as an input from, until. Then the script generates a repeated export per day so i end with the data exported per day instead of the whole at once.

[2018-10-11 14:46] #646 closed

[2018-10-11 14:48] shantanoo-desai commented on #647
#648 addresses this

[2018-10-11 14:48] #647 closed

[2018-10-13 05:15] auphofBSF opened #649 "Incorrect nanosecond timestamps being written to influxdb"
Writing point with time precision  in ns results in incorrect nanosecond timestamps being written to influxdb
effect can be noticed in writing points from both the  `DataFrameClient.writepoints`as well as the `InfluxDBClient.write`
This has been noted in issues: #527,#489, #346 and #344 and #340 

  and a proposed pull request submitted. [https://github.com/influxdata/influxdb-python/pull/346](htt

[2018-10-13 05:50] auphofBSF commented on #649
have noted a further Issue #489 that identifies the same solution

[2018-10-20 09:35] einverne opened #652 "It seems influx api not support POST when create database."
I got `InfluxDBClientError: 405: Method Not Allowed` error. After I checked several docs I found that

https://github.com/influxdata/influxdb/issues/6787

If I change POST method to GET everything seems OK using `create_database()` method.

I am using

- influxdb==5.2.0
- X-Influxdb-Version: 0.10.0

[2018-10-23 07:58] adihat opened #653 "specifying retention policy doesn't allow writing of points into database"
So basically I have a database say `websockets` and the following is the configuration if the database:
![screenshot 2018-10-23 at 1 19 57 pm](https://user-images.githubusercontent.com/30288808/47344543-5dc72100-d6c6-11e8-8166-7e9403fda532.png)

As one can observe there is a retention policy `a_day` created on database `websockets`

When I specify the retention policy in `write_points`, it doesn't

[2018-10-23 09:16] zhaodaozi opened #654 "write_points does not write data"
when i use influxdb0.8.8 and influxdb.influxdb0.8 package, i realized my data not save in influxdb0.8.8 database, i was hoping someone would help me this error was, will next my code.

[2018-10-23 09:16] zhaodaozi commented on #654
from influxdb.influxdb08 import InfluxDBClient

def cpu_log_save_influxdb():
    json_body = [
        {
            "measurement": "cpu_load_short",
            "tags": {
                "host": "server01",
                "region": "us-west"
            },
            "time": "2009-11-10T23:00:00Z",
            "fields": {
                "value": 0.64
            }
        }
    ]
    client =

[2018-10-23 09:35] zhaodaozi commented on #654
json_body = [
        {
            "measurement": "cpu_load_short",
            "tags": {
                "host": "server01",
                "region": "us-west"
            },
            "time": "2009-11-10T23:00:00Z",
            "fields": {
                "value": 0.64
            }
        }
    ]
    client = InfluxDBClient('localhost', 8086, 'root', 'root', 'mydb')
    client.write_points

[2018-10-23 09:36] zhaodaozi commented on #654
this is my error
[root@localhost ~]# /opt/manager/env/bin/python test.py
Traceback (most recent call last):
  File "test.py", line 23, in <module>
    cpu_log_save_influxdb()
  File "test.py", line 19, in cpu_log_save_influxdb
    result = client.query('select value from cpu_load_short;')
  File "/opt/manager/env/lib/python2.7/site-packages/influxdb/influxdb08/client.py", line 423, in query
    ch

[2018-10-24 01:59] zhaodaozi commented on #654
I think I've found the answer to my question, My json is not in the right format, and the 0.8.8 version of influxdb should be:
    json_body = [
      {
        "name" : "memory_message",
        "columns" : ["memory_total", "memory_free", "memory_used"],
        "points" : [
          [memory_total, memory_free, memory_used]
        ]
      }
    ]

[2018-10-24 01:59] zhaodaozi commented on #654
I think I've found the answer to my question, My json is not in the right format, and the 0.8.8 version of influxdb should be:
    json_body = [
      {
        "name" : "memory_message",
        "columns" : ["memory_total", "memory_free", "memory_used"],
        "points" : [
          [memory_total, memory_free, memory_used]
        ]
      }
    ]

[2018-10-24 01:59] #654 closed

[2018-10-30 21:14] monikamulani commented on #327
I'm getting this error:
ImportError: cannot import name DataFrameClient

following does work
from influxdb import InfluxDBClient

Please help

[2018-10-31 01:06] rhestilow-skytap opened #655 "make_lines omits field values with empty strings"
When writing a point where one or more field values are empty strings (`""`), influxdb-python will omit them in the line protocol representation. If there are no non-empty fields, this will omit all fields, resulting in an invalid line protocol format and an error.

For example, the following is allowed on the influx command line interface:

[code]

However, the equivalent in python results in an

[2018-11-01 19:02] timho93 opened #656 "High Memory Usage after a while"
Hey guys,

i am new in InfluxDB. I am using InfluxDBClient write_points to write very frequently incoming data to InlfuxDB. Especially there is incoming data **every second**, which is used to create a JSON, which then will be written to InfluxDB.
[code]
After a while my script is reaching memory usage above 20 GB. How can I prevent this massive memory usage ? Is it possible ? An how is this memor

[2018-11-01 21:36] docmerlin commented on #656
It looks like you are appending all your data over and over to measurement_list, correct?

[2018-11-02 06:47] ajeebkp23 commented on #637
Try installing with `pip install influxdb`. It's working on my system.

[2018-11-02 06:48] ajeebkp23 commented on #637
Try installing with pip install influxdb. It's working on my system.

[2018-11-02 07:57] timho93 commented on #656
I use a forked version of ncclient [https://github.com/CiscoDevNet/ncclient](url). Its a NETCONF Client for Python. The code above is inside an callback function which is called when data is incoming. So no - I think I do not append the data over and over to measurement_list

[2018-11-07 10:55] kjeka91 opened #657 "DataFrameClient write with nan in first column error"
Nan values not handled correctly in first column of the dataframe to write when using DataFrameClient. An extra comma is added before fields with line protocol.

Example to trigger the bug:
[code]
Output:
[code]

[2018-11-16 13:57] dajose commented on #541
hi @noahcrowley , have you had a chance on checking on this?

[2018-11-20 10:35] dirkjankrijnders commented on #638
I had the same issue loading 38,000+ records. However adding `batch_size=1000` to the `write_points` call solved the problem. I did experiment with the number, so the batches may be bigger.

[2018-11-21 14:21] Paul424 opened #658 "Odd design using classmethods for SeriesHelper?"
I wanted to trigger a discussion on the design of the SeriesHelper. It took me some time to understand how a commit as classmethod without context/data could actually work until i understood that the metaclass appends to a global storage.

This design limits the use of the SeriesHelper to single/sequential while in the meantime it's difficult to oversee what is happening. Why don't we just create

[2018-11-21 19:06] AliGhahraei commented on #603
Any plans for supporting this?

[2018-11-22 18:08] jfcg opened #659 "windows utf8 prefix causes problems"
I exported some small table from MS SQL server to my windows 7 desktop as a csv file. This text file has 0xEF 0xBB 0xBF bytes as a prefix (some stupid windows/unicode convention to signify utf8 coding I guess) and some data after the prefix like:
A;B;1.0
A;B;1.5
A;E;1.1
C;D;2.0
I wrote a python 2.7 script on Linux to use the 1st field as measurement name, 2nd field as some tag name etc.
After impo

[2018-11-22 18:32] aviau commented on #659
If it didn't work in the shell then you should open the issue on InfluxDB.

Feel free to open an issue here again if the problem really is in the python client.

[2018-11-22 18:35] jfcg commented on #659
It also is a bug for the python library. You cant drop_measurement() you just created with it.

[2018-11-22 18:39] aviau commented on #659
Sure, but if the bug is in InfluxDB then it isn't worth investigating here until it is fixed there.

[2018-11-22 18:44] jfcg commented on #659
drop_measurement("\xEF\xBB\xBFA") fails with an InfluxDBClientError exception on python 2.7. I think the attempt does not even reach the server.

[2018-11-22 18:46] aviau commented on #659
It does, this is raised when the server does not return expected return codes.

[2018-11-22 18:48] aviau commented on #659
I'll reopen just in case.

[2018-11-23 14:17] tejaskale commented on #452
@sebito91  : Any news on this feature?

[2018-11-29 00:42] rdxmb opened #660 "README.md and key=value parameters"
README.md
-------------------

The README has as an example:
`client = InfluxDBClient('localhost', 8086, 'root', 'root', 'example')`

However, [this blog](https://www.influxdata.com/blog/getting-started-python-influxdb/) uses a key=value syntax:
`client = InfluxDBClient(host='localhost', port=8086)` , which would be more explicit (if the blog is correct)

Also, the connection via SSL is missing in

[2018-12-04 14:46] epa095 opened #661 "Release 5.2.1"
Commit caa9e7d044f0ac344200d45c385799207c311701 contains a useful bugfix. Since it does not change the API in any way it should be safe to release a bug-release 5.2.1, and release a corresponding wheel in pypi.

[2018-12-06 09:02] mousumipaul commented on #421
i am also facing the same problem.. have anyone found the solution???

[2018-12-06 09:49] mousumipaul commented on #479
I am also facing the same error. I tried the following code:
from datetime import datetime
from influxdb import DataFrameClient
import pandas as pd
a = datetime.now()
times = []
times.append(a)
df = pd.DataFrame({'A':[5]}, index=times )
client = DataFrameClient('XXX.XXX.XX.XXX', 8086, 'XXX', 'XXX', 'XXXX')
client.write_points(df, 'M1', protocol='json')

I got the following error:
Traceback (most r

[2018-12-06 14:37] patrickhoebeke commented on #479
@mousumipaul
I think it is related to the version of pandas you are using.
It seems that pandas.DatetimeIndex.to_datetime exists in pandas 0.22 but disappeared in version 0.23
https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DatetimeIndex.html
https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DatetimeIndex.html
Much less methods in 0.23

[2018-12-07 05:59] mousumipaul commented on #479
@patrickhoebeke
Thanks Patrick for the answer. You are right. It is the problem with pandas. I have changed the pandas version from 0.23.0 to 0.22.0 and it worked perfectly.

[2018-12-07 09:14] flikka commented on #661
I would indeed also really appreciate that! We really need this, and currently have to implement a nasty workaround to get those last commits into the influxdb python library we use.

[2018-12-07 14:01] mufflon opened #663 "Dead?"
Has development halted? There seems to be very little activity on this project while pull requests and issues seem to be mounting. What gives?

[2018-12-07 20:53] aviau commented on #663
We do review pull requests but some of us don't put as much time into development anymore.

Feel free to open pull requests and we'll review them.

Most PRs that are stalling are lacking tests or response from the original author.

[2018-12-07 20:53] #663 closed

[2018-12-07 21:02] aviau commented on #661
done

[2018-12-07 21:02] #661 closed

[2018-12-07 21:06] aviau commented on #660
Python allows you to call non-kwargs functions as if they were kwargs if you want.

The SSL connection isn't "missing". It just isn't presented.

Feel free to open a PR if you want.

[2018-12-07 21:06] #660 closed

[2018-12-11 09:32] witekest commented on #633
Any update on this? The bug is still present in version 5.2.1

[2018-12-11 09:36] witekest commented on #659
@jfcg  Could you test with *influxdb-python==5.1.0*, please?
@aviau Is it possibly related with #633?

[2018-12-14 12:54] lovasoa opened #665 "DataframeClient returns int64 data for a float field"
When a measurement in influxdb happens to have only round values in a float field, it is returned by the DataframeClient with an int64 dtype (instead of float64).

I would expect float fields to be returned as float64 columns in the returned dataframe, independently of their value.

Here is a notebook session that illustrates the bug:

<img width="399" alt="image" src="https://user-images.githubus

[2018-12-16 01:48] mikegeeezy commented on #639
Just getting started with this library and having the same problem.  It fails to run the example on the github page.  Were you able to find the issue?

[2018-12-16 09:44] shantanoo-desai commented on #639
It is because `time_precision` cannot be `None` if you do not want timestamps just don't use it. By default the timestamps will be stored in nanoseconds.

[2018-12-17 17:13] lafrech opened #666 "InfluxDBClientError: 400 when calling delete_series with no filter parameter"
Using Influxdb 1.7.4, this

[code]

yields

    influxdb.exceptions.InfluxDBClientError: 400: {"error":"error parsing query: found EOF, expected FROM, WHERE at line 1, char 13"}

Looks like either `measurements` or `tags` should be provided.

This is not explicit in the method documentation. Perhaps a note should be added in the docs, and an exception raised if no filter is passed.

Or if it is ac

[2018-12-19 10:58] xinlongxu opened #667 "Bug in "ns" precision when updating influxDB with string format of time"
Floating point calculation cause difference record when updating with string format of time.

"2018-12-19T05:33:59.999Z" is the raw time of string format
"2018-12-19T05:33:59.999000064Z" is the new time record when updating with the above time, but insert a new record

![image](https://user-images.githubusercontent.com/8731696/50214957-9e88a100-03bc-11e9-95ff-e996f4fa24bc.png)

That happened becou

[2018-12-19 14:15] ferhatguneri commented on #467
Hello,

I'v tried a lot of times but I still get error Below. Could you please help me about that?

Here is code and error

    payload = {
    "measurement": "virtualmachine",
    "tags": {
        "name": name,
        "instanceUuid": instanceUuid
    },
    "time": datetime.datetime.now().isoformat(),
    "fields": {
                "version": version,
                "template": template,

[2018-12-30 13:23] p-subudhi opened #668 "SeriesHelper seems not working on Windows"
In my case, InfluxDB is hosted on Ubuntu.
I have tried Series Helper in windows remotely in Multiple Systems with below python versions.
Python 3.5.2, 3.6.1, 3.6.7

I have taken this example [SeriesHelper Example](https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_serieshelper.py)

The points I am trying to insert is the same as the example. Following is the code:
`MySerie

[2019-01-03 19:55] clslgrnc commented on #665
It would also be nice if sum, mean, ... of float fields where returned as float even if the result can be represented as an integer.

[2019-01-04 23:00] PatternMatching opened #669 "DataFrameClient.write_points returns HTTP 400 error for "invalid number""
I don't have any NaN's in my data and I'm using the line protocol to be safe, so I'm sure that it can't be #195.

Just to make it a bit easier to read, I called using line='json' to make the error a bit more readable:

[code]
I'm using InfluxDB 1.7 and influxdb-python 5.2.1, for what it is worth.

Any ideas as to what I may be doing wrong, or if this is an expected error?

[2019-01-05 18:17] JeremieGauthier opened #670 "Rounding to the nearing tenth before querying the database"
https://stackoverflow.com/questions/54054659/rounding-to-the-nearest-tenth-before-querying-the-database

How can I fix that problem?

[2019-01-07 17:22] fl4p opened #671 "Pandas 0.23.4 TypeError: Already tz-aware"
The UTC[ tz localization](https://github.com/influxdata/influxdb-python/blob/master/influxdb/_dataframe_client.py#L205) raises a `TypeError: Already tz-aware, use tz_convert to convert.` with pandas 0.23.4 .

I think this a suitable fix:
[code]

[2019-01-09 18:42] macd2 opened #672 "SSL with selfe signed cert"
Is there a way to connect via SSL = True with a selfe signed certificate?

I set up influx on cloud enabled all the necessary settings created self signed certificate,
Grafana is connecting just fine but i'm having trouble getting a connection via python, any suggestions on this?

The Error:
[code]

[2019-01-10 23:32] macd2 commented on #672
this issue can be closed the solution is simply to use port 443

[2019-01-10 23:32] #672 closed

[2019-01-17 15:16] tjp253 opened #673 "Cannot send query with a single backslash"
**Apologies. It turns out this is not an issue, and does in fact work. Please delete this issue.**

Searching [plus codes](https://github.com/google/open-location-code/blob/master/docs/olc_definition.adoc#open-location-code) in my database, I need to use RegEx with an escaped '+' symbol. However, when sending from Python it also adds a second backslash. Is there any way to resolve this, or should

[2019-01-22 12:13] fl4p commented on #666
This is expected. You have to specify the measurement. If your intention is to drop the database don't use `delete_series`.

[2019-01-22 23:38] smbunn opened #675 "How to install influxdb-python on windows with no Internet"
I have a computer that must remain off the internet.  I need to run python to put data into an InfluxDB database on that computer.  I was going to get someone to write an interface to CSV files, but with 200,000 plus data points to load into Influx over 1 minute samples for the last 2 months this is getting unwieldy. Much better to just do it directly from Python.  However all the installs just sa

[2019-01-23 00:15] aviau commented on #675
This isn't a support forum, so I will close this issue.

You can download the package from pypi and install it locally.

[2019-01-23 00:15] #675 closed

[2019-01-27 06:58] toabctl commented on #642
Still true. Doc is from 2017...

[2019-01-28 11:53] grainednoise commented on #671
I ran into the same problem. The proposed fix solves the problem for me.

[2019-01-28 14:08] theophilechevalier opened #676 "Pandas 0.24.0 TypeError TzInfo"
I just upgraded from `pandas 0.23.4` to `pandas 0.24.0`.

With `pandas 0.24.0` and `influxdb 5.2.1`:
[code]
leads to `TypeError: Already tz-aware, use tz_convert to convert.`

The same query directly on the database returns:
[code]

Note that it works great with `pandas 0.23.4` for me despite #671

[2019-01-28 23:45] xginn8 commented on #642
duplicates https://github.com/influxdata/influxdb-python/issues/541, closing

[2019-01-28 23:45] #642 closed

[2019-01-28 23:47] xginn8 commented on #541
@noahcrowley can you add myself and @aviau as maintainers in readthedocs, please?

[2019-01-29 01:04] aviau commented on #541
We can probably just create a new readthedocs project.

[2019-02-01 21:30] artemius-x commented on #676
I got the same in the following environment:

[code]

Here is what influx client returns:

[code]

And when I try to do the same query using influxdb python module, my attempt ends up with following exception:

[code]
**TypeError: Already tz-aware, use tz_convert to convert.**

I have fixed the problem locally by replacement invocation of `df.index = df.index.tz_localize('UTC')` with `df.index = '

[2019-02-04 10:34] sogrom commented on #416
Totally agree, please wrap raise requests.exceptions.ConnectionError in InfluxDBServerError
User should not have to study your code to know that you are raisng some imported exceptions.

In doc there are only two exceptions, that can be raised in your lib.
https://influxdb-python.readthedocs.io/en/latest/exceptions.html

[2019-02-05 18:21] noahcrowley commented on #541
Hey, sorry for the delay, will try and get you added as maintainers ASAP @xginn8 and @aviau

[2019-02-07 17:39] atthom commented on #676
I've upgraded my package and fell on the same problem.
I've done the fix given by @artemius-x. Not pretty but it's working!

[2019-02-08 09:28] clslgrnc commented on #676
I also encountered this issue while developing #678, I solved it in a similar way: 659a3387c8558160e85538601c5e0832d4763f9c

[2019-02-11 23:02] nickos556 commented on #676
Hi guys, hitting the same issue. Any ideas when this fix might make it into a release? thanks :)

[2019-02-12 18:26] nathanielatom commented on #671
Any ETA on when this fix will be merged and released?

[2019-02-15 12:34] Afrojam commented on #676
Got it too. When also I have a problem when using InfluxDBClient and casting the points from the result set to a pandas DataFrame where some columns get duplicated (it happens only if a lot of data is fetched).

[2019-02-15 12:51] Afrojam opened #680 "Duplicated tags when using InfluxDBClient"
Hello,
because the error about Already tz-aware, use tz_convert to convert. when using DataFrameClient, I have changed my code to use InfluxDBClient, what I have found is that tags yet duplicated.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

[2019-02-15 13:41] clslgrnc commented on #680
At least two issues might exlpain this behavior:
- you inserted points with a field whose key was previously used as a tag key (or the other way around)
- you inserted points with a field type different that the one previously used for the same key

You can try [`SHOW FIELD KEYS`](https://docs.influxdata.com/influxdb/v1.7/query_language/schema_exploration/#show-field-keys) and [`SHOW TAG KEYS`](ht

[2019-02-15 13:51] Afrojam commented on #680
You are right, I have noticed that some "columns" appear on both as a FIELD and as a TAG, and this is what causes to have the duplicates.
I'm going to drop the series and create them again, taking care of that.

[2019-02-15 14:02] clslgrnc commented on #541
Any progress?

[2019-02-15 14:31] Afrojam commented on #680
Well, I'm not getting if I have a bug when transfering data into influxdb.
I call write_points() from InfluxDBClient() using a list where each item is like:
{'fields': {'occupancy_lengths_square_sum': x,
            'occupancy_lengths_sum': x,
            'std_occupancy_length_min': x,
            'total_disconnected_hour': x,
            'total_free_events': x,
            'total_free_hour': x,

[2019-02-15 16:34] clslgrnc commented on #670
You have one point every 0.5s, in order to retrieve point at time t you should query for time between t - 0.25s and t + 0.25s instead of t and t + 0.5s

[2019-02-15 16:45] clslgrnc commented on #680
Tags as fields might have been inserted with your DataFrameClient code.
Try to reproduce from a fresh db with only one field and one tag.

[2019-02-15 17:12] s-petrunin commented on #546
This happens to us too.
We are using `influxdb==5.2.1`, Python 3.6, using UDP `socket_listener` in Telegraf.

Every hour we consistently getting 4~8 such errors, our app is making ~ 300 stats reporting requests each hour.

[2019-02-15 17:44] clslgrnc commented on #667
Duplicate of #649?

[2019-02-15 19:57] s-petrunin commented on #546
This likely happened b.c. this lib do not catch socket related errors during sending stats, like other libs do, example:
https://github.com/jsocol/pystatsd/blob/master/statsd/client/udp.py#L45

May be it's a good think, but it's not obvious for the clients of the library that it may throw an exception, even though it's UDP.

[2019-02-15 22:19] noahcrowley commented on #541
Working on finding the owner of the readthedocs project. I've reached out to a few of the readthedocs support team to see if they could help.

[2019-02-16 18:14] areski commented on #541
Sorry the late feedback, it seems that I was the original owner, it was a long time ago and completely forgot about that.

I have added @xginn8  as maintainer but @aviau doesn't seem to have an account on readthedocs.
Let me know if you need anyone else added.

[2019-02-16 19:35] carbolymer commented on #676
Here's patch for lazy ones, who need this urgently. It can be easily applied using `git apply`. Credits to @clslgrnc .
[influxdb-5.2.1.patch.txt](https://github.com/influxdata/influxdb-python/files/2872313/influxdb-5.2.1.patch.txt)

[2019-02-18 12:05] Afrojam commented on #680
@clslgrnc not using DataFrameClient here, using the InfluxDBClient and converting the points from the result set to a DataFrame.
I have tried the following: Same data base, new measurement, 1 tag and 1 field.
{'measurement': 'test', 'tags': {'Hour': 19}, 'time': datetime.datetime(2018, 8, 31, 19, 0), 'fields': {'total_occupancy_hour': 0}}

This worked perfect:
name: test
fieldKey             field

[2019-02-18 13:44] Afrojam commented on #680
I have tried the following approach:
1) Drop the conflictive measurement
DROP MEASUREMENT city
2) Insert all the data into a new measurement called placeholder. Here we can see that all is fine:
name: placeholder
fieldKey                     fieldType
--------                     ---------
occupancy_lengths_square_sum float
occupancy_lengths_sum        float
std_occupancy_length_min     float
tota

[2019-02-19 11:28] lovasoa commented on #671
I got the same problem. Is something preventing the PR from being merged ?

<details>

[code]

</details>

[2019-02-20 00:41] noahcrowley commented on #541
Can you add me as well, @areski?

[2019-02-20 04:00] aviau commented on #541
My readthedocs username is ReAzem. Can you add me?

[2019-02-20 09:11] areski commented on #541
@noahcrowley @aviau you are both added!

[2019-02-20 12:21] xginn8 commented on #541
Thanks for the help here @areski! I have rebuilt both stable and latest, so closing this issue.

[2019-02-20 12:21] #541 closed

[2019-02-21 02:02] BeckmaR commented on #649
Same here. Using precision = 'ms' gives wrong timestamps, which has ruined a database for me due to stuff getting out of order. Floats are really not a good idea here.

[2019-02-22 02:35] tech-inventory commented on #676
I checked tz_localize() in pandas,
I found out that the behavior of tz_localize () in pandas has changed.

following is sample codes and works on pandas version 0.23.4.
[code]

I was worried about this.
DataFrameClient was very useful, but it will be unusable on pandas version 0.24.0 and later.

[2019-02-22 08:03] clslgrnc commented on #676
@tech-inventory I have never used panda nor DataFrameClient, do you think #679 solves the problem?

https://github.com/influxdata/influxdb-python/blob/5da62e9b57bb5653d73ee48a32eb7c6802ce31d4/influxdb/_dataframe_client.py#L204-L207

Would it be better to add `tz_convert` in an `else` clause after the `tz_localize`?

[2019-02-22 08:10] tech-inventory commented on #676
thanks for reply,
I tried #679 , and confirmed it soved probelm.
(because just i did'nt use latest version of influxdb client)

[2019-02-24 17:58] AlnsV commented on #671
This solves the problem, happening to me just now...

[2019-02-28 07:09] stephanpcpeters commented on #676
Just to confirm, also running into this problem on a new box with a fresh install

[2019-03-01 04:47] freshwuzhere commented on #671
Me too :-(

[2019-03-01 09:07] lovasoa commented on #671
#679 fixes this. @xginn8  should [merge it soon](https://github.com/influxdata/influxdb-python/pull/679#issuecomment-467851424)

[2019-03-01 14:37] lukaszdudek-silvair commented on #207
AFAIU `InfluxDBClient` doesn't support continuous query management. I've seen #414 - is there any work planned on that again?

[2019-03-06 12:37] pickmylight opened #685 "DataFrameClient not Working on Raspberry Pi (general Examples)"
Your examples are not working on Influx 1.7.4 on Raspberry Pi

I tried severeal ways to get Dataframes working, but each time I push something in, I get a True response from my Influx, but there is absolutely no data stored in my database.

Even with your example from DataFrame, I got the same results

[2019-03-08 06:04] etoricky commented on #676
`df.index = df.index.tz_localize('UTC') with df.index = df.index.tz_convert('UTC')` does fix it

[2019-03-08 08:17] clslgrnc commented on #676
Only if your data *is* localized, and if it is you can just remove the line. Hopefully #679 or #684 will eventually get merged...

[2019-03-08 13:53] kucukemre96 commented on #676
Hello, I've been dealing with this issue for some time and I didn't want to change an external dist-package. Since I was trying to figure a way out to "convert tz", I assisgned an epoch value as parameter rather than leaving it "None" by default.

rs = client.query(iquery, epoch="ns")[sensor]

Maybe you can try something like this.

[2019-03-13 08:39] ImmoWeidner opened #686 "ImportError: No module named influxdb"
Hi,
I am fairly new to Raspberry Pi, Python and InfluxDB but figured my way through everything but this issue. I get "ImportError: No module named influxdb"
I tried both ways to install the package.
$ sudo apt-get install python-influxdb
$ pip install influxdb

$ python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())" | xargs ls
gives me:
influxdb
influxdb-3.0.0.egg-inf

[2019-03-13 12:29] ImmoWeidner commented on #686
I solved it. I used the editor on the pi to write and run the programs and it was unable to import the module paho so I tried to run it directly in the console and now I can unclude the modules ;)

[2019-03-13 12:29] #686 closed

[2019-03-13 22:02] anna-arista opened #687 "Over UDP points are written to default retention policy instead of given"
When calling `write_points` on a client over UDP with a given non-default retention_policy, the points are written to the db's default retention_policy; over HTTP, the points are correctly written to the given retention policy for the metric.

[2019-03-14 07:48] kingangelAOA opened #688 "create_database support GET"
https://github.com/influxdata/influxdb-python/blob/7d924d5faa5afc0f698297709e95b5d8209a7f52/influxdb/client.py#L578

method POST did not support,  support GET

[2019-03-14 11:04] xginn8 commented on #688
@kingangelAOA I don't think that is accurate, according to the docs: https://docs.influxdata.com/influxdb/v1.7/guides/writing_data/#creating-a-database-using-the-http-api. Are you having issues with that?

[code]

[2019-03-14 12:49] iskrich opened #690 "Support timer for points in SeriesHelper"
Hi all, thank you for library.

Currently `SeriesHelper `class support `bulk_size` parameter for dumping points to Influx.
But there might be situations when I have for example `bulk_size=5` and 4 points in current cache.
Points will be sent only when 5th point event occured. But it could happen in 1 hour/day/month, previous points been hiding there the whole time.
In other hand, I can't set `bulk

[2019-03-14 14:04] #671 closed

[2019-03-14 14:04] #676 closed

[2019-03-15 01:17] noman-bashir opened #691 "Error while writing, requests.exceptions.ConnectionError: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe'))"
Setup:

I am trying to load a CSV file with 54 million rows into a database. I am using the pandas-tutorial sample code. I saw that people have an issue writing large data so I set the batch size to as low as 10, it still fails.

Desired Outcome:

Be able to upload 54 million rows into the database.

Code:

    path = '../traces-2014.csv'
    def main(host='localhost', port=8086):

        """Inst

[2019-03-15 07:39] clslgrnc commented on #671
Should be solved in 5.2.2

[2019-03-15 07:40] clslgrnc commented on #676
Should be solved in 5.2.2

[2019-03-16 17:47] #634 closed

[2019-03-20 04:30] #316 closed

[2019-03-20 04:30] #603 closed

[2019-03-20 04:33] xginn8 commented on #685
@pickmylight can you post the code that you are using? We only recently began supporting InfluxDB 1.7.4, so you should retry with the library built from source.

[2019-03-20 04:36] xginn8 commented on #687
@anna-arista I think the retention policy is set at the UDP input level (according to my reading of https://docs.influxdata.com/influxdb/v1.7/supported_protocols/udp#configuration). Can you confirm that is the behavior you are seeing?

[2019-03-20 09:10] shantanoo-desai commented on #687
#646 #647 can also address some more information to this query.

[2019-03-20 12:20] #670 closed

[2019-03-21 15:13] fernandodelacalle commented on #685
same for me, with the example code I get no points  in the dataset. True response. Is the code form the example.

[2019-03-21 16:18] fernandodelacalle commented on #685
it is because the new pandas version (0.24.2) with pandas 0.23 everything is ok

[2019-03-22 20:18] Manoj321 commented on #687
Yes, points all go to "default" retention policy defined in the influxdb.conf. Is this the expected behavior? Is there anyway to send points to a non-default rp with UDP?

[2019-03-22 22:21] xginn8 commented on #687
@Manoj321 if you configure a second UDP input to apply the RP you desire, you should be able to achieve the desired outcome.

[2019-03-23 19:42] Manoj321 commented on #687
I see thanks!

[2019-03-25 12:45] #687 closed

[2019-03-28 21:33] thorsteinssonh commented on #516
I had same misunderstanding of docs. The docs indicate with quotes that a json string is being passed to the write_points method.  I found that odd, but went with it and used json.dumps just like @wolfohyeah .  It's worth clarifying this first example in the docs, because its the absolute first thing we try with this library.  But many thanks for an excellent implementation. It's more pythonic by

[2019-03-29 10:15] pickmylight commented on #685
thanks, I will try using pandas 0.23

[2019-03-29 10:17] pickmylight commented on #685
@xginn8 try using your examplecode for Dataframes. This is the one I'm using

[2019-03-30 11:52] d3banjan commented on #657
**Environment:**
- `pandas==0.24.1`
- `-e git+ssh://git@github.com/KuguHome/influxdb-python.git@afcfd25b21523d84a7d1088eff2abb4d08de7647#egg=influxdb` which mirrors the current master branch of influxdb-python
- `python=3.6.7`

**Reproduction of bug:**
`bug-reproduce.py`
[code]

[code]
**Outlook:**
Although tags and fields are handled the same way, the presence of a leading comma works for the tag

[2019-04-01 07:46] paritoshjchandran opened #695 "Support for InfluxDB 2.0"
So, I'm trying out InfluxDB v2.0 (still in alpha) and was wondering when influxdb-python would support the new version. Is there a timeline? Is there any way I can help contribute?

[2019-04-01 15:09] xginn8 commented on #695
@paritoshjchandran you can start by running all unit tests against a local instance of InfluxDB v2.0.0. If you run the `test.sh` script with a local copy of the InfluxDB binary in your working directory, you should be able to get an idea for all the changes that may be required. We will not support it officially until it is fully released.

[2019-04-01 15:21] paritoshjchandran commented on #695
Sure, let me get down to that... Also, do you have any timeline on when all that's going to happen?

[2019-04-01 16:43] xginn8 commented on #695
Unfortunately I do not have any special insight into when that will happen. I don't work for the InfluxDB team, I just help maintain this library. You might have better luck reaching out directly on the [slack channel](https://www.influxdata.com/blog/announcing-the-influxdb-slack-channel/)

[2019-04-01 17:14] #688 closed

[2019-04-01 17:15] xginn8 commented on #685
@pickmylight if you install the requirements exactly on the client, do you still see issues writing to a database?

[2019-04-01 17:19] #673 closed

[2019-04-01 17:48] #637 closed

[2019-04-01 19:45] h4nz11 opened #696 "'Index' object has no attribute 'tzinfo'"
Hello,
I've tried to update pandas to the latest version and make this query
`SELECT mean(value) FROM data WHERE time >= '2018-10-01' AND time < '2019-02-01' GROUP BY time(1d) tz('Europe/Prague')`
but if I hit time period withnout any data, I will get this error

[code]

[2019-04-03 12:40] witekest commented on #633
The issue still exists in version 5.2.2.
It affects only Python 2 code. I could confirm that the client works nicely with Python 3.

[2019-04-04 12:58] vadi2 opened #698 "Instant timeout error"
I'm getting an instant fail on write with:

[code]

InfluxDB does not wait before reporting the error. What could be the problem? The firewall is open and influxdb is accessible.

[2019-04-04 14:45] siegenthalerroger commented on #669
For me getting rid of any datetime objects solved the issue. Only as a pandas index did a datetime work. Unsure why though

[2019-04-04 14:46] siegenthalerroger commented on #685
Can confirm that pandas 0.24 does not work correctly (in my particular case I had datetimes in a non-index row and I received 204s from the server despite nothing being saved)

[2019-04-05 06:14] pickmylight commented on #685
@xginn8 I got the requirements on my test system (Raspberry Pi) installed, trying to work things out by testing different Influx and Pandas versions

[2019-04-07 14:18] xginn8 commented on #698
@vadi2 what InfluxDB client and server versions are you using? Can you provide a code snippet that is causing this behavior?

[2019-04-07 14:44] xginn8 commented on #667
Closing as duplicate of #649

[2019-04-07 14:44] #667 closed

[2019-04-07 14:47] xginn8 commented on #695
Closing this issue for now, we will reopen once InfluxDB 2.0 is officially released.

[2019-04-07 14:47] #695 closed

[2019-04-07 16:01] vadi2 commented on #698
@xginn8 InfluxDB 1.7.5 using the official docker image. I was getting the instant hang using the Python client to just retrieve all known databases, but something is seriously wrong - even using the CLI, `show measures` and `drop database` are just hanging and not responding.

[2019-04-08 01:09] #666 closed

[2019-04-08 02:00] xginn8 commented on #690
@iskrich if this issue is immediately problematic, your best bet is to extend the SeriesHelper class and implement this timer in your application. While this feature seems useful, it may not be high on the list of features slated for the near future. We are always happy to field pull requests however!

[2019-04-08 02:02] xginn8 commented on #698
@vadi2 thanks for clarifying that this issue is unrelated to the Python client. While this issue is a little out of scope, have you tried other dockerized versions of the same configuration to rule out a misconfig or any fs corruption issues? You can also open an issue in the respective repository located [here](https://github.com/influxdata/influxdata-docker/issues)

[2019-04-08 03:37] vadi2 commented on #698
I'll give it a go. Thanks for support here!

[2019-04-08 03:37] #698 closed

[2019-04-09 08:54] EsbenLorenzen commented on #668
Hi @ps-34
Have you been able to solve this issue? I had the same issue when trying out the SeriesHelper example.
I did not have time to investigate further, but perhaps you have come to a solution you would be able to share?

Thank you.

[2019-04-09 10:43] d3banjan opened #700 "dataframe client writes nothing when using json protocol"
my environment

[code]

[code]
-  returns
[code]

[2019-04-09 16:35] RobinEccleston commented on #516
I got this error, and ended up on this page through Google so wanted to share what my mistake was in the hope it helps someone else.

My problem was that I was passing a dict to client.write_points(), but it should have been a list of dicts. The solution to my issue was to make a list with a single item containing my dict, like so:

[code]

[2019-04-11 13:42] Rbain2 opened #701 "Documentation of query format using variables"
Hi

 I spent a long time trying to find a format of query with variable inputs. I eventually found the following which allows parameters in the select statement.
    res = influx.query("""
                select * from program_event_name
                where account = '%s'
                  and region = '%s'
                order by time desc limit 1""" % (
                account['name'], region

[2019-04-12 07:25] bng85 commented on #685
Thank you so much for this info. Helped me after almost giving up!

[2019-04-17 14:11] clslgrnc commented on #701
I'd argue against including this kind of example, not only is it not a query with variables (this is string formatting, the formatted string is passed to influxdb-python without parameters) but more importantly this is a potentially dangerous pattern as remarked by #316 and #603 and as I explained [here](https://medium.com/sekoia-io-blog/avoiding-injections-with-influxdb-bind-parameters-50f67e379a

[2019-04-17 15:48] syedsrepo opened #703 "Network Issue"
Hi,

I am trying to connect to my local InfluxDB instance and execute a query, there is no issue in connecting from linux shell, but I get an Network Issue error while using DataFrameClient

# cat influx.py

from influxdb import DataFrameClient

query = "select * from cpufreq_value limit 10"
client = DataFrameClient(host='localhost', database='collectd', port='8086')
rs = client.query(query)
dict

[2019-04-17 17:57] Rbain2 commented on #701
Hi Thank you for your detailed response . Your explanation in the link
provided is very clear. I was not aware of the security risk you describe
and am looking forward to the bind parameter release .

On Wed 17 Apr 2019 at 15:11, Colas Le Guernic <notifications@github.com>
wrote:

[2019-04-19 09:47] hanssens commented on #691
Can confirm the same issue. _Might_ be related to #531 due to the source measurement being large and the chuncked mode (as reported in the issue) is not working properly.

[2019-04-19 10:10] timur-orudzhov opened #704 "ResultSet.get_points() ignore ORDER BY statement when also used GROUP_BY statement"
Query, that i used, for example:

[code]
As described in influxdb docs it should return result set that will be ordered by time, but, i suppose, client lost ordering on own side. Thanks for your attention in advance!

https://docs.influxdata.com/influxdb/v1.7/query_language/data_exploration/#return-the-newest-points-first-and-include-a-group-by-time-clause

[2019-04-19 12:51] timur-orudzhov opened #705 "ResultSet.get_points: lack tags in their result set"
I think, it would be useful that ResultSet.get_points also should return tags related to query. For example, i have query string:

[code]

Wright now, after execution this query i will get only *time* and *some_field_count* fields, but i also need info about "some_tag" and its value.

[2019-04-19 18:35] richardhanson commented on #700
Hi @d3banjan, I had the same issue. It looks like it's a change in the pandas API that returns an empty list if you call `to_dict('record')` on an empty DataFrame. Looking into possible solutions, but one that should definitely solve your issue is downgrading Pandas to `0.23.4`

[2019-04-20 02:59] evilnick commented on #516
The docs are rather misleading from a python perspective. Labelling an object 'json_body', when it is actually a standard python list doesn't help. Also, in the [tutorial](https://www.influxdata.com/blog/getting-started-python-influxdb/) it actually says:

" First, let’s add three points __in JSON format__ to a variable called json_body:"

but again, it is actually a list object, not a JSON string

[2019-04-23 07:45] clslgrnc commented on #705
What you are looking for is `items`. As per the [documentation](https://influxdb-python.readthedocs.io/en/latest/api-documentation.html#resultset) `get_points` returns "a generator for all the points that match the given filters" this is done by parsing the raw json and should not be significantly faster than:
[code]

[2019-04-23 18:36] aviau commented on #705
This issue looks like a question more than an actual issue. Closing.

[2019-04-23 18:36] #705 closed

[2019-04-23 22:42] paeblits opened #707 "Using ssl flag causes a proxy error"
I'm using self-signed certs and am behind a corporate firewall. I set up a simple InfluxDB instance and I am able to query it using this Python client while https-enabled = False. But, after I set up HTTPS and enable it on the InfluxDB instance, I start getting proxy errors on my Python client. I set ssl=True and verify_ssl=False even though that's default. I'm running the exact same query with th

[2019-04-24 05:51] auphofBSF commented on #649
a further issue has been identified by @tpietruszka  with microsecond timepoints not accurately saved when storing datapoints from a dataframe, possibly affects saving timepoints at any precision

Links and further notes are on the comments of the pull request  https://github.com/influxdata/influxdb-python/pull/650#issuecomment-486065253

[2019-04-28 08:35] ptjlabs opened #709 "(Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0869E3F0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))"
Followed the installation guide (https://influxdb-python.readthedocs.io/en/latest/include-readme.html) and received this error message shortly after.

(env) λ python app.py
Traceback (most recent call last):
  File "C:\Users\prest\Development\influxdb_stuff\env\lib\site-packages\urllib3\connection.py", line 159, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw)
  File "C:\Use

[2019-05-01 08:52] #709 closed

[2019-05-03 05:31] mousumipaul opened #711 "Connect to influxdb without port 8086"
Hi I am a newbie in python-influxdb. I have used DataFrameClient to create a connection to influxdb from a remote pc. It works with the following sysntax:
client = DataFrameClient(host=ip, username=Influxuser, password=Influxpasswd, database=mydb, ssl=True, verify_ssl=False)

Now for some reason port 8086 has been blocked at the destination PC where influxdb exists. Now I tried with curl command t

[2019-05-03 15:17] danfoster opened #712 "Delay retries for GET requests"
Hi,

In #508 , logic was added to retry requests. There is a delay added between retries if the request is a `POST`. Would it be suitable to suitable to add that delay for all HTTP methods?

The use-case I'm finding is try a `GET` request too early, before influxdb has finished starting. I'm therefore getting a `Connection refused` returned straight away. Even with a high number of retries (50), t

[2019-05-03 20:13] aviau commented on #711
Sorry but this isn't a support forum.

Other users may answer, but I won't keep this issue open.

[2019-05-03 20:13] #711 closed

[2019-05-07 23:57] paeblits commented on #707
Solved. I renamed the issue from "Using ssl flag causes a proxy error" to "Seemingly random proxy errors."

I work behind a corporate firewall so that is one consideration. I think one of the problems was that I had old HTTP and HTTPS proxy **system** environment variables set that I think were being used by one of the Python modules, such as _requests_. Specifically, the variables were HTTP_PROXY

[2019-05-07 23:57] #707 closed

[2019-05-08 07:21] cppt opened #713 "issue loading pandas dataframe to influxDB"
**Version**
Spyder 3.3.2
Python 3.7
InfluxDB 1.7.6
Ubuntu 18.04

Trying to load a simple pandas dataframe to influxDB within python and getting the following error:

`ValueError: Invalid time precision is given. (use 'n', 'u', 'ms', 's', 'm' or 'h')`

Defaulted to the example presented in [the help docs](https://influxdb-python.readthedocs.io/en/latest/examples.html#tutorials-pandas) for pandas an

[2019-05-09 21:35] CarbonUnit commented on #698
@vadi2 Did you find a solution?  I am seeing the same exact timeout failures as you.
Python 2.7.5
influxdb-python 5.2.2
influxdb 1.7 docker-compose image

[2019-05-09 22:17] ninesalt commented on #551
Can confirm this issue still exists on v5.2.2

[2019-05-10 04:30] vadi2 commented on #698
That version of Influxdb has a bug, you need to downgrade to 1.6 - or upgrade if they have a fixed release.

[2019-05-10 11:22] pgajdos opened #714 "testsuite issues"
1. influxdb/tests/server_tests/influxdb.conf.template is not part of PyPI tarball, so the server part of the testsuite fails
2. I get module 'distutils' has no attribute 'spawn'
-import distutils
+import distutils.util
fixes it for me, but not sure what is the correct solution.

Linux, python 2.7 and 3.7 here and d5d1249.

[2019-05-10 11:25] pgajdos commented on #714
By the way, packaging CHANGELOG.md in PyPI tarball would be perfect.

[2019-05-10 17:04] CarbonUnit commented on #698
Thanks @vadi2
I tried downgrading to 1.6.  Same problem.  Are you aware of any other work-arounds?  Thanks in advance!

[2019-05-10 18:09] vadi2 commented on #698
Afraid no.

[2019-05-11 19:29] macd2 commented on #700
same issue here, after updating pandas influx did not receive any data from DataframeClient.write_points(format='jason'), python program still run without any errors, just no data went trough ` 0.23.4` solved issue.  `A error message would be great` !

[2019-05-12 21:26] d3banjan commented on #700
Thanks @richardhanson and others for the hint.

I found it interesting that the pandas changelog https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.24.1.html noted a regression fix in `to_dict` --

There is a "new regression" (oxymoron!!) tracked in https://github.com/pandas-dev/pandas/issues/25408 already! So I will close this issue here.

[2019-05-12 21:26] #700 closed

[2019-05-14 13:13] CarbonUnit commented on #698
Thanks.  I ended up just trying forever until success on client side, and restarting docker image on server side.  When it times out.  Hopefully a fix is coming down the pike.  Thanks.

[2019-05-15 23:58] SBrandeis opened #715 "`SELECT SUM(*)` does unwanted type cast"
### Software versions
Influxdb version: `1.7.6`
influxdb-python version: `5.2.2`

### Steps to reproduce:
1. Create a measurement named `my_measurement` in influxdb with following points:
[code]

2. Run the following code:
[code]

The casting into 'int' type is incorrect since we are summing floats, result should still be a float.

[2019-05-16 14:25] arieldf commented on #703
@syedsrepo Getting the same error and symptoms. Did you find a solution to this? Best, Ariel

[2019-05-17 22:26] adityacj commented on #578
Can you show us a snippet of the query you used? And a bit more explanation of what the dataset contains?

[2019-05-20 14:08] pinkynrg opened #717 "is Flux query language supported?"
is the function Flux query language supported?

[2019-05-26 08:12] philip-jones opened #718 "gzip support on influxdb-python"
Hi,

Great API, we use it heavily.  Thank you.

The equivalent Java API influxdb-java, which I also use, allows gzip compression to be explicitly enabled when setting up a connection, e.g.

[code]
Perhaps this is enabled by default in influxdb-python, however I cannot find any reference to gzip compression.  Perhaps I am looking in the wrong place.

This would be very useful to allow a reduction i

[2019-05-31 11:51] pedrofaria09 commented on #531
Hello, any update on this? It's impossible for me to query 100.000.000 rows.

[2019-06-04 09:30] shantanoo-desai opened #720 "ResultSets Outputs do not provide measurement information for multiple measurement queries"
I have two measurements within a database.

I wish to query data from both of the measurements at the same time. For that I use the following query:

    SELECT "v" FROM "wind-angle", "wind-spd" LIMIT 5

This provides me the following result in the InfluxCLI

[code]

However when using the InfluxDB-Client, if I can query the the following (wind-spd first and wind-angle later):

    SELECT "v" FROM

[2019-06-07 20:34] saulofr opened #722 "Field names cannot start with an underscore:"
when I set a tag value this error show: Field names cannot start with an underscore: _sensor

Tags can be started with undescore

[2019-06-09 17:07] pig8grey opened #724 "DataFrameClient.write_points Does not insert data and does not show error"
host = 'localhost'
port = 8086
user = 'root'
password = 'root'
measname='vibration'
dbname='test'

df = pd.DataFrame(data=list(range(30)),
                      index=pd.date_range(start='2014-11-16',
periods=30, freq='H'), columns=['0'])
client = DataFrameClient(host, port, user, password, dbname)
client.create_database(dbname)
client.write_points(df, 'vibration', protocol='json')

--------------

[2019-06-10 05:18] msshroff opened #725 "Example of DataFrameClient.query with bind_params"
Hi

I am using version 5.2.2 of influxdb and trying to use the new feature bind_params as documented in [here](https://xginn8-influxdb-python.readthedocs.io/en/latest/api-documentation.html#dataframeclient
)

Also saw the information provided in blog [here](https://medium.com/sekoia-io-blog/avoiding-injections-with-influxdb-bind-parameters-50f67e379abb)

I see below issue:
`import influxdb`
`impor

[2019-06-11 21:50] nathanielatom commented on #463
@xginn8 this appears to still be happening with 5.2.2 (and influx 1.7.4). Database has 302239 rows and 148 columns, cardinality estimate 39085. Final DataFrame definitely fits into the _clients_ memory, might not all fit at once in the server's memory. I've tried chunk_sizes anywhere from 256 to 8092 and reliably get the same error. Querying for single fields seems to work relatively quickly, but

[2019-06-11 23:26] nathanielatom commented on #463
I confirmed that increasing the memory of the database host server resolves the  ChunkedEncodingError.

[2019-06-13 06:40] dstreppa commented on #717
+1

[2019-06-13 11:06] tsenga commented on #724
It looks as if when using protocol='json', you need to have at least one 'tag_column' for points to be generated by the DataFrameClient.

See below...

df = pd.DataFrame(data=list(range(30)),
index=pd.date_range(start='2014-11-16',
periods=30, freq='H'), columns=['0'])
df['t1'] = df['0'] % 2

client = DataFrameClient(host, port, user, password, dbname)
client.create_database(dbname)
client.write_p

[2019-06-13 12:31] pig8grey commented on #724
See below...

df = pd.DataFrame(data=list(range(30)),
index=pd.date_range(start='2014-11-16',
periods=30, freq='H'), columns=['0'])
df['t1'] = df['0'] % 2

client = DataFrameClient(host, port, user, password, dbname)
client.create_database(dbname)
client.write_points(df, 'vibration2', tag_columns=['t1'], protocol='json')

Thanks it has worked

[2019-06-13 12:57] pig8grey commented on #724
Inserting with  DataframeClient just have a lots of problems. I am trying to insert with dataframe that has three columns and one time index.

----------
host = 'localhost'
port = 8086
user = 'root'

password = 'root'

measname='vibration'
dbname='symroctest'

class ifdd:

    def __init__(self,measname,dbname,host='localhost', port=8086):

        self.measname=measname

        USER = 'root'

[2019-06-14 18:38] hamedty commented on #470
Great question with a vague answer.

@tcloaa, does it mean .write is thread safe?

[2019-06-16 20:20] DtheRock commented on #696
I am having the same issue too.

[2019-06-19 13:01] msshroff opened #726 "InfluxDBClientError while inserting None with DataFrameClient"
Hi

I am using below Python 3.7.3 with influxdb 5.2.2
Trying to insert the DataFrame which has  None or NaN
It fails with **InfluxDBClientError: 400**
It's generating Line Protocol data to be inserted with additional comma in field_set section

[code]

Code snippet to reproduce:
[code]

Error stack:

[code]

If I take the query with InfluxQL Line Protocol  and try to rung it from influx CLI
I get

[2019-06-24 11:17] psy0rz commented on #531
Just add the change from my pull request manually: https://github.com/influxdata/influxdb-python/pull/538

Someone needs to create a test for it and update the pull request so the devs can accept the change. (i dont have time for it)

[2019-06-26 10:50] SiegelDaniel opened #727 "KeyError: 'points' when trying to insert"
Hello everyone, I have the following codesnippet that I wrote according to the documentation [here](https://influxdb-python.readthedocs.io/en/latest/api-documentation.html)

`
[code]

On execution I get:
[code]
What is the problem here?

[2019-06-26 11:54] lladhibhutall opened #728 "influxdb.exceptions.InfluxDBClientError: 403:"
[code]

Getting this error while running even the basic example given in the readme.

Platform- Windows 10
InfluxDB Version- 1.7.6

[2019-06-26 11:58] SiegelDaniel commented on #727
I think I fixed that by creating a dict called points in which I inserted the datapoint.
However, when I send this, I get:
[code]

[2019-06-26 13:16] shantanoo-desai commented on #727
Like in the documentation you need to mention the database name:

    client = InfluxDBClient(host='127.0.0.1', port=8086, database='dbname')

[2019-06-26 13:16] SiegelDaniel commented on #727
Oops, forgot that. Thank you.

[2019-06-26 13:16] #727 closed

[2019-06-26 14:13] SnakePy92 opened #729 "Random write_points connection timeout"
Why the attached write_points request is not working  ?
Even if there is something wrong with my data, the error is much more serious than a timeout: all the other processes cannot write data anymore.
The database is not crashed but seems to be "frozen".
[bug influxdb.txt](https://github.com/influxdata/influxdb-python/files/3330407/bug.influxdb.txt)

Edit: I am using the official docker image 3.7

[2019-06-27 12:33] SnakePy92 commented on #729
Problem identified:  the list is not the same as in my previous write_points, there is one more parking (that is to say new tags valuesfor "idObjet" and "nomObjet").
This tiny difference provoke the timeout and the DB outage !

[2019-07-04 18:39] sebastian2909f opened #730 "ImportError influxdb when launched from lxterminal with sudo command"
Hello, i have the problem with the import influxdb when i launch the program ***.py since xlterminal for me

[code]
 and see the ImportError: No module named 'influxdb', but this error not see when i launch without sudo, the program run normal and the data arrive the database.

[code]

i use sudo because i use bluetooth the library bluepy, this need sudo for launch otherwise the module bluetooth d

[2019-07-05 14:58] sebastian2909f commented on #730
my error was installing the influx without sudo, i re-install the influx with sudo the problem finished

[2019-07-05 14:58] #730 closed

[2019-07-05 18:04] #704 closed

[2019-07-06 12:02] peay opened #731 "Field values are implicitly coerced to string but not escaped"
https://github.com/influxdata/influxdb-python/blob/master/influxdb/line_protocol.py#L101 escapes strings, and converts integers to `XXXi`. However, for other types, `str(value)` is used.

If `str(value)` contains spaces, for instance, the resulting line is not valid. An example is when passing in a `datetime` object -- `2019-04-10 00:00:00` or similar ends up breaking the line format.

If we want

[2019-07-07 16:50] driftregion commented on #718
Related: https://github.com/influxdata/influxdb-python/issues/451
In Oct 2017, xginn8 mentioned that there was no InfluxDB API documentation for gzip compression.  Perhaps this has changed since then?
https://docs.influxdata.com/influxdb/v1.7/guides/writing_data/#configure-gzip-compression

[2019-07-09 00:50] KEClaytor commented on #718
Hello, I just wanted to jump in and let you know that I've been able to add gzip compression to the client and have made a PR #732

I agree that data compression is really important, especially on IoT devices and mobile networks.

I'm unsure how to properly do the tests so it may still be awhile until it's merged.

[2019-07-09 05:38] philip-jones commented on #718
Thank you for the response KEClaytor & driftregion, much appreciated.

Will be happy to do some testing when you are ready / there is a consensus about how this should be done.

[2019-07-10 09:53] dtosato commented on #696
Same problem

[2019-07-10 10:18] dtosato commented on #696
Any solution to this issue?

[2019-07-10 10:22] h4nz11 commented on #696
I have pandas pinned to version < 0.24

[2019-07-10 14:46] lovasoa opened #733 "Add support for messagepack"
The preferred response format for InfluxDB is now MessagePack, for reasons listed in https://github.com/influxdata/influxdb/issues/8330 .
Supporting it and using it by default when the server supports it too would solve several open issues, such as https://github.com/influxdata/influxdb-python/issues/665  and https://github.com/influxdata/influxdb-python/issues/715. It would also improve performan

[2019-07-11 09:41] lovasoa opened #735 "What is the maintenance status of this project ?"
This project has many opened issues that have never been triaged, many opened pull requests with no comment from the maintainers, and the last commit is three months old. What is the exact status of the project ? Is it still maintained ? Is it supported by InfluxData ? Do you need help for maintaining this project ?

@aviau @xginn8

[2019-07-11 20:39] aviau commented on #735
We tend to reply fast if the pull requests contain good tests.

We do this in our free time, this is not supported by influxdata.

I'll close this as we don't keep discussions issues open.

Feel free to contribute if you want to help: Good pull requests with tests.

I have given commit rights to contributord in the past. xginn8 and sebito91 are examples of that. I'll keep doing that as soon as I s

[2019-07-11 20:39] #735 closed

[2019-07-11 21:26] lovasoa commented on #735
Hello @aviau !
  This is good news ! If you have time, can you review my pull request ? https://github.com/influxdata/influxdb-python/pull/734
  Maybe, if you are still active on this repository, it would be a good idea to acknowledge it when you receive a new issue or pull request. Maybe you could tell people that you don't have the time to investigate their issue, but indicate a place to look in

[2019-07-11 21:32] lovasoa commented on #728
This does not seem to be an issue with influxdb-client itself, but rather a configuration issue.
@lladhibhutall Can you query the database with curl ? what connection parameters do you use ?
@aviau This issue might be worth closing, or at least marked as *needinfo*.

[2019-07-11 21:36] lovasoa commented on #718
Related: #733 MessagePack greatly reduces network traffic between the client and the server.

[2019-07-11 21:39] lovasoa commented on #715
See the issue in influxsb itself: https://github.com/influxdata/influxdb/issues/8707
The solution they recommend is using messagepack, which I implemented in #734.

[2019-07-11 21:49] lovasoa commented on #726
@aviau : I think this would be fixed by merging #694

[2019-07-11 22:36] #632 closed

[2019-07-11 22:36] aviau commented on #715
this wasn't an influxdb-python issue anyways afaik

[2019-07-11 22:36] #715 closed

[2019-07-11 22:37] #728 closed

[2019-07-11 22:37] aviau commented on #728
Yeah. Support shouldn't be handled here.

[2019-07-12 08:11] philip-jones commented on #733
I fully support that, but I think JSON vs MessagePack is a completely separate issue to whether the HTTP POST to InfluxDB is gzip'd or not, so perhaps don't conflate the two issues or get sidetracked from implementing gzip support in influxdb-python.

Gzipping will benefit either transfer format.

[2019-07-12 09:00] lovasoa commented on #733
To be clear: message pack is used only from the server to the client. gzip is not very useful on msgpack-encoded data since it has a high entropy, but it would definitely help for POST data sent from the client to the server.

[2019-07-12 09:05] philip-jones commented on #733
Sorry folks, probably posted my comment on the wrong issue, should have been on https://github.com/influxdata/influxdb-python/issues/718 not this one.

[2019-07-15 14:19] ronneke1996 opened #736 "integrate mypy"
It would be very nice to have static typing added to the library for a number of reasons.

* It makes it more clear how the library is used
* It will prevent (some) bugs
* And maybe more

http://mypy-lang.org/

[2019-07-15 18:46] aviau commented on #736
I already use mypy extensively at work, so I'd love to see it happen here.

If somebody wants to do this, please don't open a giant PR that annotates all the code. I won't merge it.

Instead, open a PR that:
 - adds mypy to the CI
 - add MINIMAL typing, just enough so that it passes mypy's minimal checks:

[code]

then we can iterate from that.

[2019-07-18 14:31] KEClaytor commented on #718
@driftregion Yes, compression seems to be supported. Thanks for linking to the official docs on this. The earliest mention of it in the changelog is in v1.0:
https://docs.influxdata.com/influxdb/v1.7/about_the_project/releasenotes-changelog/

@lovasoa Message Pack looks really neat. The only reference I can find to it in the docs is:
 - Add message pack format for query responses.

From: https://d

[2019-07-18 16:45] philip-jones commented on #718
It's really great that you are all jumping in on this request, thank you.

As I (inappropriately) posted on the related MessagePack issue, I think MessagePack is a great alternative to JSON, but I also suspect that it is orthogonal to the issue of using gzip for HTTPS data transmission?

I suspect both JSON and MessagePack containing perhaps hundreds of data points, probably with highly repetitive

[2019-07-19 13:59] Aeium commented on #700
This bug breaks the tutorial example here: https://github.com/influxdata/influxdb-python/blob/master/examples/tutorial_pandas.py

[2019-07-21 18:11] lovasoa commented on #718
@KEClaytor No, msgpack doesn't seem to be supported for sending data. See the [corresponding pull request](https://github.com/influxdata/influxdb/pull/8897/files).

[2019-07-22 06:46] stevejobsmyguru opened #738 "write_points of Pandas DataFrameClient ( Pandas 0.24.2) is not working"
I tried to push Pandas Data Frame using write_points of DataFrameClient object (Python Package: 5.2.2).

It did not write and did not throw any exception in Influx log too when I did tail -f command.

Then I downgraded Pandas Package to 0.23.4.  Then write_points method is able to push the data into InfluxDB.  I feel that it is short term fix I figured out. But Influx client package must be fixed.

[2019-07-26 10:09] Ivo-Donchev opened #739 "Security fix subversion release"
Hi :)

This security issue fix seems to be really important for existing systems that use it to dynamically building influx queries using `influxdb-python` (with string interpolations)  - https://github.com/influxdata/influxdb-python/pull/678
Would it be possible to release the new version soon ?

Thank you,
Ivo

[2019-07-29 07:12] RadoRado commented on #739
Yep, would be great if someone can release this :raised_hands:

[2019-07-29 11:47] weq opened #740 "Not possible to import if a certain file is present in $PWD"
This should be documented if not fixed. I'm unable to load influxdb-python if there is an empty file named "influxdb.py" in the $PWD folder.
I've experienced this issue in both 2.7 and 3.5.3, so I recon it is something do with scoping within the module itself.
It will also fail to import if there is a influxdb.pyc file.

[2019-07-29 14:06] aviau commented on #740
This is just how python importing works...

[2019-07-29 14:06] #740 closed

[2019-07-29 14:11] aviau commented on #740
https://docs.python.org/3/library/sys.html#sys.path

[2019-07-30 10:33] d3banjan commented on #700
The workarounds that work for me are downgrading pandas to 0.23 or use `protocol='line'` when writing the dataframe to influx.

[2019-07-31 00:20] Andytmlr80 commented on #738
I'm experiencing this issue as well.  Our cloud platform is running Pandas 0.25.0 and the even the Pandas tutorial example from the Influxdb site does not work (https://influxdb-python.readthedocs.io/en/latest/examples.html#tutorials-pandas).

Reverting to Pandas 0.23.4 does work, however that's not a practical solution for us.

[2019-08-05 13:26] ugarg1994 commented on #652
Update your Influx DB version. It will work with the recent version.

[2019-08-05 22:04] angadi0726 opened #742 "InfluxDBClientError: 400 unable to parse - invalid boolean #python"
ERROR:
in request raise InfluxDBClientError(response.content, response.status_code)
influxdb.exceptions.InfluxDBClientError: 400: {"error":"unable to parse '2GHz,ap_name=f0:5a:17:cb:4d:c0,band=2GHz,channel=6,eirp=11 CBW20=[1, 6, 11]': invalid boolean"}

I am trying to write a script to push some data to InfluxDB. The code executes without errors/warnings.
A snippet from my code is attached below.

[2019-08-06 10:43] s-okmt commented on #738
I reviewed codes & found it's caused by a change on `DataFrame.to_dict()`.
You may specify `protocol="json"` for `write_points`. If so, a tentative solution is to use `protocol="line"`, since a problem is in a method for conversion from dataframe to json.

Before pandas v0.24.0 `to_dict` for empty dataframe returns an array of empty dicts & its quantity is same as the number of row of the datafram

[2019-08-08 04:11] sebito91 commented on #738
Yes, this needs to be fixed. I'm looking into this now...thanks a lot for your [patience](https://github.com/influxdata/influxdb-python/pull/737)!

[2019-08-08 21:36] a-l-t-e-r commented on #467
Same problem here at latest version. No fix yet.

[2019-08-08 21:59] a-l-t-e-r opened #743 "Error in write_points example"
`[/master/examples/tutorial.py]` is not working anymore.  Need to update it.
`write_points` module now needs a mandatory 'measurement param.

[2019-08-09 09:30] stevejobsmyguru commented on #738
Thx for reply. We will try the 'line' protocal in write_points as the work
around.  We will be looking forward to have final fix.

Thanks once again

On Thu, Aug 8, 2019 at 9:41 AM Sebastian Borza <notifications@github.com>
wrote:

[2019-08-09 09:49] akapps commented on #725
Hi,

I suffered from that confusion too. The `bind_params` parameter is not yet released in version 5.2.2 (see client.py in [master](/influxdata/influxdb-python/blob/master/influxdb/client.py#L361) and [v.5.2.2](/influxdata/influxdb-python/blob/v5.2.2/influxdb/client.py#L345)). It has been merged with #678.

Any plan to release a newer version with this feature ? It would be appreciated here.

Tha

[2019-08-12 10:49] iver3on opened #745 "Should we close() the connection ???"
or no connections pool?

[2019-08-12 12:46] golanudelamare commented on #483
Is there any update regarding this matter?

[2019-08-13 03:04] zsyh commented on #572
import influxdb
from influxdb import InfluxDBClient
from influxdb.line_protocol import _get_unicode, quote_ident, _is_float, text_type

class MyInfluxDBClient(InfluxDBClient):
    def __init__(self, host='localhost', port=8086, username='root', password='root', database=None, ssl=False,
                 verify_ssl=False, timeout=None, retries=3, use_udp=False, udp_port=4444, proxies=None, pool_siz

[2019-08-13 09:29] taoruifu opened #747 "how to ignore time"
when query data with some field, the response always have time field,how to ignore the 'time' field

[2019-08-13 19:13] BGraco commented on #635
Just got burned by this, my queries were timing out and I was silently missing data.
Was going to propose a similar fix. Any reason to not make this change?

[2019-08-13 21:32] cemanughian commented on #567
I am having the same issue

[2019-08-16 06:54] Shirley-Ji opened #748 "partial write: points beyond retention policy dropped=24"
I got this error when using write_points. And I didn't change any default retention policy yet.
The json body is this:
[code]

My usage:
[code]

The exception I got:
[code]

[2019-08-19 12:53] sebito91 commented on #739
Looking into this now...

[2019-08-20 08:25] janemrich commented on #631
Updating the pip version would also help me because the fix of #694 is not included in pip right now.

[2019-08-22 08:09] rawkode commented on #739
@sebito91 did we get this tagged on Pypi too?

[2019-08-23 10:36] tux-00 opened #749 "Missing pip package version 5.2.3"
The pip package of version 5.2.3 is missing.

[2019-08-25 15:01] mluraghi-asapp commented on #749
I'm waiting for this version too (mainly because I really want to use **_bind_params_** in **_query()_** )

[2019-08-26 08:42] dirkmoors commented on #717
+1

[2019-08-26 11:46] Satforst opened #750 "Raspberry can`t write data to influxdb"
Hello,
I have problem with write data to Influxdb. On Windows python app working fine, but when I try It on raspbian, It show me InfluxDBServerError.
I tried:
`curl -sL -I localhost:8086/ping`
show me error 503.

Also I tried change host to "localhost", "127.0.0.1", "0.0.0.0" without any changes.
In influxdb.conf I have default settings.

InfluxDB is on Raspberry version 9.9
InfluxDB version 1.7.7

[2019-08-26 13:50] audiofeature commented on #738
I advocate for this to be fixed as well. New user to Influx DB -> very frustrating.

[2019-08-27 11:55] davider80 commented on #717
+1

[2019-08-28 10:38] Ivo-Donchev commented on #739
@sebito91 @rawkode I saw that version `5.2.3` has been released in PyPi - https://pypi.org/project/influxdb/ .

Thank you guys for fixing this ticket :slightly_smiling_face: ! I'm closing it

[2019-08-28 10:38] #739 closed

[2019-08-30 23:27] davegravy opened #751 "Optimization for queries with large payloads"
I'm not sure if this is an issue or my misuse of the Dataframe client, but I've written about this in a fair bit of detail already on [SO](https://stackoverflow.com/questions/57720108/influxdb-query-with-large-response-too-slow)

In summary, a simple query of mine query which returns ~750,000 rows takes ~20s to complete using the Dataframe client but takes ~3s to complete curling the HTTP API endp

[2019-09-02 08:42] witekest commented on #633
The issue still exists in 5.2.3.

[2019-09-03 16:07] kevmk04 commented on #738
Same issue... was struggling to figure out why it wasn't working.

[2019-09-03 17:48] aviau commented on #633
Please don't post after every release. We will close this issue when it is fixed.

[2019-09-09 19:58] xginn8 commented on #750
Hi, if you are having trouble curling the `/ping` endpoint, it seems like your InfluxDB instance is misconfigured and this is not an issue related to the Python library.

[2019-09-09 19:58] #750 closed

[2019-09-09 19:58] xginn8 commented on #747
Hi @taoruifu, can you explain a little more about what you're trying to do here?

[2019-09-09 20:36] xginn8 commented on #751
Hi @davegravy, if you are able to reproduce similar results using the CLI I'm curious what exactly is going on as it may not be related to the dataframe at all. If you are repeating this query multiple times, could the first response be reading from disk (~20s) and the second response be cached in memory (~3s)?

[2019-09-09 20:38] xginn8 commented on #748
Hi @Shirley-Ji, can you let us know what version of InfluxDB you're running to reproduce locally?

[2019-09-09 20:41] xginn8 commented on #745
Hi @iver3on, a connection pool is used (courtesy of `urllib3` underneath `requests`), see: https://github.com/influxdata/influxdb-python/blob/master/influxdb/client.py#L104-L107

[2019-09-09 20:41] #745 closed

[2019-09-09 21:33] xginn8 commented on #742
@angadi0726 can you please provide all version information (InfluxDB, the library version, and Python version) and the full output of the error?

[2019-09-10 01:33] davegravy commented on #751
If I make this query multiple times using the CLI and multiple times via the influxdb-python client, the first as well as all subsequent queries are ~20s, whereas using the custom code I posted it is reliably ~3s. So I don't believe caching is at play here.

IIRC when I was playing with calling the influx HTTP API directly in python I ended up with close to a 20s query using the requests package a

[2019-09-10 14:54] xginn8 commented on #748
After a little more investigation, if you are writing outside the retention policy (i.e., the points would be immediately dropped), InfluxDB now returns this error instead of dropping the points silently. See https://github.com/influxdata/influxdb/pull/8407 for more information. You should be able to change the default RP on the database to include older data.

[2019-09-10 14:54] #748 closed

[2019-09-10 15:01] #729 closed

[2019-09-13 09:06] xginn8 opened #757 "docs: readthedocs integration currently broken"
As reported in https://github.com/influxdata/influxdb-python/pull/648, the readthedocs integration seems to have broken again. I am not an admin for this repository, so I am unable to reconfigure the webhook. @aviau, you should be able to reconfigure that here: https://readthedocs.org/dashboard/influxdb-python/integrations/97327/. If that doesn't work, you may have better luck following the instru

[2019-09-13 13:46] aviau commented on #757
Should be good to go.

[2019-09-13 13:46] #757 closed

[2019-09-16 18:20] #736 closed

[2019-10-01 06:12] rishabh1212 opened #758 "influxdb-python approximates nanoseconds to microseconds when calling write_points in Json format"
This is my first time creating the issue. Please forgive for any mistakes
- influxdb-python version: 5.2.3
When points are passed to `write_points` function of `InfluxDBClient` as JSON data, even if we mention time_precision='n', it approximates the time to microseconds. Same does not happen when passed as `line protocol`.

- tested by inserting timestamps `2019-09-24T03:31:00.100000001Z` and `201

[2019-10-02 06:33] markif commented on #696
We run into the same issue and I can confirm that by setting pandas < 0.24 we could resolve it (or by leaving tz('Europe/Prague') away or extending the query with epoch="ns" (see: https://github.com/influxdata/influxdb-python/issues/676#issuecomment-470935760) but that is probably not what one wants to do).

[2019-10-03 18:57] Aeium commented on #700
https://github.com/influxdata/influxdb-python/issues/738

[2019-10-06 01:29] afoda opened #759 "InfluxDBClient writes incorrect data to database"
- **InfluxDB version:** 1.5.3
- **InfluxDB-python version:** 5.2.2
- **Python version:** 3.7.4
- **Operating system version:** Ubuntu 18.04

With a fresh database, run the following code:
[code]
Expected output:
`['a', '\n', 'b']`

Actual output:
`['a', '\\', 'n', 'b']`

[2019-10-08 22:55] cuxcrider commented on #649
Hi all,  Thanks for the active work on this, I just discovered this issue today in a script I am writing to sync two influx nodes.  Fortunately I noticed it before unleashing the script on all my databases.

I tried to review the progress on this issue but I cannot really figure out why it is not merged into master yet?  Does it actually take care of ns precision properly now but is not passing so

[2019-10-09 06:26] auphofBSF commented on #649
Hi @cuxcrider ,  whilst this PR now works great for ns resolution timestamps there are 2  open issues
1)  **(Not major)**  unit test failure for pypy -  only an issue with config, have instructions now to fix, so will look at doing that.
2)  **(Major for microsecond  resolutions and other non ns resolutions)** as identified by @tpietruszka  in https://github.com/influxdata/influxdb-python/pull/650

[2019-10-09 10:44] auphofBSF commented on #649
I have tested locally the changes to fix the precision conversions as identified by @tpietruszka , I will merge these into this PR over the next 24hrs with updated tests and try resolve all outstanding build checks for pypy.

[2019-10-09 15:31] maartenderie opened #760 "Add tz awareness in DataFrameClient using line protocol"
- **InfluxDB version: 1.7.8**
- **InfluxDB-python version:5.2.3**
- **Python version:3.7.4**
- **Operating system version:macOS 10.14.6**

The DataFrameClient doesn't seem to convert pd.Datetime that has a timezone to UTC before writing to influx. Please add.

In _dataframe_client.py these line can be found for json protocol but not form line protocol;
[code]
Instead in line 275 it goes;
[code]

[2019-10-10 03:07] cuxcrider commented on #649
I came across one issue in your branch:

It seems that using the dataframe client to write points will write dataframe columns that contain nans as strings.  Or in other words, it won't write the data thanks to Influx's inflexibility in that regard.  I saw this is well-documented here:
#422
#195
I reverted back to the master branch and my writes worked again.
Let me know if you're seeing different

[2019-10-10 04:53] vshah-lifesize commented on #567
Facing the same issue. Please reopen..

[2019-10-10 15:25] cuxcrider commented on #649
I am now on your most up to date commit 7e161e2, and it seems to still have the issues.
I am on python 3.7.1, pandas 0.23.4, 1.15.4

Here is code that runs fine on the official influxdb repo but breaks on your branch 7e161e2
You just have to add in your host, user, and password to run.  Sorry for the long timestamps, I was having trouble creating nanosecond datetime so I just gave up and literally

[2019-10-11 04:17] auphofBSF commented on #649
Hello @cuxcrider ,  I can confirm I am getting the same issue  when just using my branch with the ns fix.  What is missing is all the fixes already merged into the master influxdata/influxdb-python.  As  my PR#650 is still failing  the pypy test passing  one has to merge  locally  this PR branch.

I have setup a branch on my fork merging the primary Master with my PR. If you do that locally or pul

[2019-10-12 15:49] cuxcrider commented on #649
wow, awesome, thanks for doing that!

I know next to nothing about pypy but looking for incompatibilities with Pandas seems like a reasonable place to start.  In searching for "pypy pandas issues" I found this issue which has a relatively simple workaround it sounds like. https://bitbucket.org/pypy/pypy/issues/2989/pandas-currently-fails-to-install-on-pypy3

Maybe it's something easy like that?

S

[2019-10-13 20:28] patricktokeeffe commented on #601
I also find this discrepancy between `write` and `write_points` confusing and unnecessary. I specified a default database for a reason...

[2019-10-14 02:22] patricktokeeffe opened #761 "Documentation versions"
Currently the only two revisions viewable on <https://influxdb-python.readthedocs.io> are *latest* and *stable*. This means users of older versions must browse the sphinx build directory to identify the relevant source code file, then locate that source code and read the function docstring. :(

Could certain (all?) prior versions be included in sphinx doc generation so users can refer to HTML inst

[2019-10-14 13:29] aniamirjanyan commented on #713
You are getting an error because Influx doesn't accept start time as YYYY-MM-DD. It accepts this format --> YYYY-MM-DD HH:MM:SS (e.g. 2019-10-14 05:29:31)

[2019-10-15 07:10] coolvipool commented on #748
I'm too facing similar issue. I have raised a new issue https://github.com/influxdata/influxdb/issues/15307

But no one has been assigned to it. Can you pls help me in assigning it to correct person.

[2019-10-16 03:07] Shirley-Ji commented on #748
sorry for late to update.
I found there is an existing RP which blocks the insertion in my influxdb. My issue is resolved after I removed it. Thanks very much @xginn8

[2019-10-17 09:00] kunal-arora opened #762 "Write points returning no error but not writing into influxdb."
- **InfluxDB version:** 1.7.8
- **InfluxDB-python version:** 5.2.2
- **Python version:** 3.6.8
- **Operating system version:** Ubuntu 18.04 (EC2)
- **Nginx:** nginx/1.16.1
- **Flask:** 1.1.0

`client.write_points(jsonData, time_precision='ms', protocol='json')`

I am using this to write into influxdb, it was working fine then I dropped the database and created a new one, since then it has not been

[2019-10-22 12:13] salmanshahid8 commented on #762
This is because of protocole. if you change it to 'line', it will work. but I see that it does not store the timestamp correctly.

[2019-10-23 07:11] llj098 opened #763 "DataFrame write with tags error"
python version 3.6.9
influxdbclient version 5.2.3

data frame data:
[code]

code
[code]

error
[code]

[2019-10-29 02:32] kunal-arora commented on #762
But everything works normal when I use my local setup to access the ec2 influx instance. Dont get why it is not working for requests from that specific instance of python code.

[2019-10-29 08:53] shantanoo-desai commented on #762
@kunal-arora can you try adding `database=<your_database_name>` within the `client.write_points()` API?
e.g.

     client.write_points(jsonData, time_precision='ms', protocol='json', database='test')

[2019-10-30 11:56] PhamTrinh6677 opened #764 "Error tags when insert dataframe with dataframe client"
I am using Influx-python 5.2.3 when insert dataframe in influxdb.
But there was an error creating tags.

[2019-10-31 21:38] philip-jones commented on #718
Hi all,

I was wondering if there was any chance of moving this request forwards?  (Specifically, implementing / rolling out gzip compression).

IoT clients still crying out for some compression :-)

kind regards & thank you,

Phil.

[2019-11-04 00:05] kunal-arora commented on #762
@shantanoo-desai  it doesn't make any difference, as you can see in the log the database is being passed in correctly and if I put in a wrong database it throughs me an influxdb error. So I do not think its something related to the syntax. **The same syntax works If I hit the same db from a different host**.

[2019-11-04 09:45] sivagembali opened #765 "not able to execute any commands on influxdb using python EX: get_list_database()"
- **InfluxDB version:** e.g. 1.7.8 (output of the `influx version` command)
- **InfluxDB-python version:** e.g. 5.2.3 (output of the `python -c "from __future__ import print_function; import influxdb; print(influxdb.__version__)"` command)
- **Python version:** e.g. Python 2.7.16 (output of the `python --version` command)
- **Operating system version:** e.g. Windows 10 pro,

![influxdb_error](http

[2019-11-05 11:47] olologin commented on #759
Same is reproducible for me, in python 2 and windows, influxdb module version 5.2.2.
The issue seems to be caused by function "quote_ident" in line_protocol.py

[2019-11-13 11:01] veronikaKochugova opened #767 "Unable to use pattern with `delete_series()` method"
- **InfluxDB version:** 1.7.7
- **InfluxDB-python version:** 5.2.3
- **Python version:** Python 3.6.8
- **Operating system version:**  Ubuntu 18.04

I need to delete all series with required tag from DB.

In Influx cli I use:
[code]

With python client I try to use following command:
[code]

But nothing has been deleted.
I assume that this is due to the fact that `quote_ident(measurement)` is call

[2019-11-21 13:28] Ivo-Donchev opened #768 "`bind_params` now working with text regular expressions"
- **InfluxDB version:** 1.7.7
- **InfluxDB-python version:** 5.2.3
- **Python version:** 3.7.2
- **Operating system version:** Ubuntu 18.04

Hi,
I'm iterating over my application to add the new version's **bind_params** parameter everywhere. But I have the following query:
[code]

But when I try to use the **bind_params**:
[code]

And the new query with the bind params returns an empty result (whi

[2019-11-21 13:47] lovasoa commented on #663
Is this project really still alive ?
I made a pull request (#734) over four months ago and it still hasn't been reviewed.

[2019-11-21 14:18] shantanoo-desai commented on #663
@lovasoa I just asked the Slack Channel and would they are internally discussing it whether to have the open-source community maintain it.

[2019-11-21 14:28] lovasoa commented on #663
@shantanoo-desai : I'm not sure I understand you comment... You asked on influxdata's slack whether they want to drop maintenance of this project to make it exclusively community-maintained ? Isn't it the case already ?

[2019-11-21 14:30] shantanoo-desai commented on #663
Well most of the maintainers are InfluxDB Employees, they tend to be jammed with work and if are discussing whether issue management and PR merges can be maintained by non-employees aka. open-source community that uses the library

[2019-11-21 14:36] lovasoa commented on #663
`influxdb-python` is already maintained entirely by the community, and influxdata makes zero investment in it. See https://github.com/influxdata/influxdb-python/issues/735

[2019-11-22 18:21] russorat commented on #768
@Ivo-Donchev thanks for the issue. This might be better suited for the https://community.influxdata.com or the community slack https://influxdata.com/slack channel.

[2019-11-24 11:16] Ivo-Donchev commented on #768
@russorat I just linked the issue here - https://influxcommunity.slack.com/archives/CH6GVB9NC/p1574594178211700 :slightly_smiling_face:

[2019-11-25 12:34] michelfripiat opened #769 "tags with value 0 or False not pushed to InfluxDB"
When I want to push tags with value equaling to 0 or False, the tag is not accepted.
After investigation, the line to blame is here:
https://github.com/influxdata/influxdb-python/blob/3d61f1f465c0fbfbe404c77a4728c5d7268aaf1e/influxdb/_dataframe_client.py#L374

I patched it and here is how I solved it:
Before:
`tag_string = ''.join(
                [",{}={}".format(k, _escape_tag(v)) if v else ''

[2019-11-25 17:39] russorat commented on #769
@michelfripiat thank you for the issue. Is this something you would consider contributing to the project?

[2019-11-25 17:40] jiri-moc commented on #483
It would be really nice to have this feature

[2019-11-25 22:42] rickspencer3 commented on #768
Looking through the Python code, so far as I can tell, the value is sent to the database through an API through a REST API and the logic for reconstituting the query with the parameters lies in there, not in the Python code.

I suspect that since the purpose of bind_params is to stop execution of statements that a malicious user slips in, the fact that this query does not work in this way might be

[2019-11-26 08:20] michelfripiat commented on #769
For sure, what does that imply?

[2019-11-26 18:24] russorat commented on #769
@michelfripiat all you need to do is open a pull request with the change you'd identified and someone will take a look.

[2019-11-27 08:05] Ivo-Donchev commented on #768
@rickspencer3 Hmm, but the regexes are mainly use for search. Then how would you protect your query from SQL injection when using regex :thinking:
I mean something like that:
[code]

I basically tried to protect the user by getting a control over the database. But I'm not sure how to that for this particular case :thinking:

[2019-11-27 16:32] Tonsofattraction commented on #653
Having the same problem right now.
Have anyone dealt with it?
pip influxdb version 5.2.3 (latest by now)
InfluxDB shell version: 1.6.3

[2019-12-04 07:58] Moradf90 commented on #483
Is there any update?

[2019-12-05 10:54] lovasoa commented on #657
I think this should be closed since #694 was merged

[2019-12-05 16:42] #733 closed

[2019-12-05 16:42] #625 closed

[2019-12-05 16:42] #665 closed

[2019-12-16 15:38] ozichert commented on #768
To bypass this issue you can concatenate your strings for the parameter(s) within the selection part.
`
'SELECT ' + bind_params["variable"] + ' FROM db WHERE time >= $from', bind_params={"from": datetime.datetime(2019,12,1).isoformat()+"Z"}
`
Nevertheless the security risk stays with this option.

[2019-12-17 10:50] Ivo-Donchev commented on #768
@ozichert I'm basically doing this now :slightly_smiling_face:  (+ some additional validations if there's another query injected inside).

But I think the main problem here is related to the ability to protect the database. Imagine you have a search filter in a web page that's searching in influx database. But some user enters following in the search box: `'some_input*/; DROP MEASUREMENT ....; UPD

[2019-12-18 14:36] Breee opened #773 "Port should be optional when initializing a InfluxDBClient"
- **InfluxDB version:** influxdb:latest

* Usecase:  Influxdb  behind a traefik.

If I map my influxdb container to some domain `influx.example.com`

e.g:
[code]
then i can't initialize the client like this:

[code]

because `influx.example.com` already points to port 8086, so it is not necessary to pass a port
So the port should be optional imo :)

[2019-12-19 04:50] amajee11us commented on #589
This issue seems to look similar to https://github.com/influxdata/influxdb-python/issues/263
Actually it may not be due to some issue is python-client. If you already have proxies set, set a no_proxy for the influxDB service and verify.

[2019-12-19 10:41] webmaniak commented on #572
In the end, shouldn't the Python module do the conversion itself?

I mean, if by default InfluxDB considers all `int` values to be `float` (unless told explicitely with the "i" character placed after the `int`value), then why both `InfluxDbClient` and its subclasses do not enforce this rule automatically by converting values like @tux-00 suggested?

[2019-12-22 13:27] VJPranay commented on #327
from influxdb import InfluxDBClient
ImportError: cannot import name 'InfluxDBClient' from 'influxdb'

same error

[2019-12-22 17:17] xginn8 commented on #327
Hi @VJPranay can you provide a little more information about your set up? Do you have a file called `influxdb.py` in your path or project somewhere?

[2019-12-29 08:51] AdiYElisha commented on #609
I have the exact same problem

[2020-01-02 20:16] Zhenye-Na opened #774 "Feature request: `create_database` if database not exists"
Please support features to create database if the database does not exists.

SQL-like command is

[code]

Currently the way to simulate is:

[code]

I would love to discuss or make contribution to this feature.

Thanks!

[2020-01-03 18:12] russorat commented on #773
@Breee thanks for the issue. I may be reading this wrong, but it looks like the port already defaults to 8086: https://github.com/influxdata/influxdb-python/blob/master/influxdb/client.py#L78

Have you tried excluding the port completely when creating a client?
[code]

[2020-01-03 18:19] russorat commented on #774
@Zhenye-Na thanks for the issue. According to the InfluxDB Docs, trying to create a database that already exists:

https://docs.influxdata.com/influxdb/v1.7/query_language/database_management/#create-database

So it seems like you should just always run `client.create_database(metrics)` since getting the list of databases first is likely more expensive. What do you think?

[2020-01-05 01:17] probabble opened #775 "Support Flux Language"
Reason: My influx instance is 1.7.x and I'd like to execute queries in Flux against it from a Python client.

https://github.com/influxdata/influxdb-python/issues/717

Trying to figure out if there's a plan for this in your lib or why not...

[2020-01-05 02:14] aviau commented on #775
The issues section is not a forum, so questions don't fit here.

I renamed your issue, now it makes sense as an issue.

[2020-01-06 17:11] Zhenye-Na commented on #774
Hey @russorat ,

Maybe using a `try .. catch` is enough?

[2020-01-07 02:33] yabberyabber opened #776 "Retentio Policy is silently ignored when writing points with udp"
https://github.com/influxdata/influxdb-python/blob/cb15c2ebc4d337cac606638004cb794870b52c2e/influxdb/client.py#L612

When we write points with `use_udp=True`, the influx client library will silently drop the retention policy. It seems much more reasonable to either...
 - throw an exception with something like "retention_policy not supported with use_udb=True" so that folks aren't surprised by thei

[2020-01-07 09:11] shantanoo-desai commented on #776
It is possible since UDP configuration occurs in `influxdb.conf` under the `[[udp]]` section. Can you try setting the Retention Policy there and proceed to write the data once again?

[2020-01-07 19:21] yabberyabber commented on #776
I'm aware that you can set this configuration per-database in `influxdb.conf`, but that's not optimal for multiple reasons

My biggest complaint is that the write_point function *claims* to take a retention_policy argument which it just ignores. If you couldn't pass retention_policy into this function and you *had* to use the `influxdb.conf` for all retention policy settings, that would be less co

[2020-01-08 15:38] Breee commented on #773
Probably I was a bit misleading,

Correct me if i'm wrong, but If the port is excluded or set to None, the client should not set a default port. Instead it should just try to connect to the given host.

Currently, I see no way to connect to an influxdb which is behind a reverseproxy and reachable under some subdomain.

In my docker example, Traefik routes `influx.example.com` directly to the docke

[2020-01-20 02:28] JFRabbit opened #777 "InfluxDBClient.ping() method return 200:OK, not expected_response_code=204."
- **InfluxDB version:** 1.7.6
- **InfluxDB-python version:** influxdb==5.2.3
- **Python version:** 3.7.1
- **Operating system version:** macOS 10.15.2

### How to reproduce:
test code:
[code]

console log:
[code]

I got 200:OK, but the ping method expect to get 204.

[2020-01-21 23:13] russorat commented on #777
@JFRabbit thank you for the issue. I'm wondering if you have a proxy between you and influxdb which is returning that response code. I just tried on influxdb 1.7.9 and it returns a `204` as a response, not a 200.

[code]

[2020-01-22 14:32] dtosato commented on #696
Could you please fix this issue for the latest pandas release?

[2020-02-03 07:36] krishnacy opened #780 "{"error":"unable to parse ': invalid boolean", missing tag value"}"
- InfluxDB version:  1.7.7
- Python version: Python 3.7.4
- Operating system version: Windows 10

Hi,

I'm new to python and I'm trying to write data to influx DB, but I'm getting the either Boolean error or tag missing error. I understand that the comma & spacing is important in using line protocol, somehow I'm unable to get past these error. Kindly support in solving this issue.

Following is my

[2020-02-03 12:12] pjdervan opened #781 "I cannot connect to the cloud db"
**InfluxDB version:** e.g. 1.7.9
 **InfluxDB-python version:** e.g. 5.2.3
 **Python version:** 3.7.4
 **Operating system version:** macOS 10.14.5

 I cannot seem to connect to my cloud database. It works ok for a local db.

 Code is:

import codecs
 from datetime import datetime

 from influxdb_client import WritePrecision, InfluxDBClient, Point
 from influxdb_client.client.write_api import SYNCHR

[2020-02-03 12:16] #781 closed

[2020-02-03 19:37] russorat commented on #780
@krishnacy thanks for opening this. Looks like the value for `x` is coming through as an array? It would need to be a scaler such as int or float in order to use it as a field.

[2020-02-06 15:41] dubrousky opened #784 "Allow to pass custom HTTPAdapter in client constructor with reasonable default"
It is impossible to use InfluxDBClient in environments that have no urllib3 or synchronous/blocking request invocation is not possible. Missing urllib3 can be fixed by implementing transport adapter and passing it when creating client.

[2020-02-07 09:56] ashishkaransingh opened #785 "DataFrameClient Aggregated query not able to see time column label and tag columns"
- **InfluxDB version:** 1.7.9
- **InfluxDB-python version:** 5.2.3
- **Python version:** 3.7.4
- **Operating system version:** Windows 10

Can someone please help.
I do not see "time" label for the column time nor the tag columns "host" and "instance".
I am pulling data using influxdb DataFrameClient.

![image](https://user-images.githubusercontent.com/29729110/74019418-9a06b980-49bd-11ea-9b76-27f

[2020-02-10 12:14] sigmaroot opened #786 "ConnectionError: BadStatusLine"
- **InfluxDB version:** 1.7.3
- **InfluxDB-python version:** 5.2.1
- **Python version:** 2.7.12
- **Operating system version:** Ubuntu 16.04

Hello, since I've changed our InfluxDB to a HTTPS connection, I'm not able to write two points anymore. The first write attempt is successfully, the **second fails**.

I'm getting the following exception:

Snippet of the client connection:

`client = InfluxD

[2020-02-10 12:38] sigmaroot commented on #786
Nervermind, I simply forget to update one InfluxDBClient connection line with the `ssl=True` and that was causing the error...